#day_nav {
	border-top: 2px solid #386d8e;
}

#day_nav th {
	background-color: #ddd;
	border-bottom: none;
}

#day_nav a {
	text-decoration: none;
	color: black;
	display: block;
	width: 100%;
	height: 100%;
}

.active {
	background-color: rgba(41, 83, 132, 0.5) !important
}

#menu_table a {
	text-decoration: none;
	color: black;
}

#menu_table td {
	vertical-align: top; !important
}