{% extends "courses/base.html" %}
{% load static %}

{% block "title" %}{{ object.course.code }} &mdash; {{ object.course.name }} &mdash; {{ professor }}{% endblock %}
{% block "ogtitle" %}{{ object.course.code }} &mdash; {{ object.course.name }} &mdash; {{ professor }}{% endblock %}
{% block "page_title" %}{{ object.course.code }} &mdash; {{ object.course.name }}{% endblock %}

{% block "ogdesc" %}
	{% if object.description %}
		{{ object.description }}
	{% else %}
		{{ object.course.name }} &mdash; {{ professor }}
	{% endif %}
{% endblock %}

{% block "metadesc" %}
	{% if object.description %}
		{{ object.description }}
	{% else %}
		{{ object.code }} &mdash; {{ object.course.name }} &mdash; {{ professor }}
	{% endif %}
{% endblock %}

{% block "courses_breadcrumbs" %}
	<li>{{ object.course.code }} &mdash; {{ professor }}</li>
{% endblock %}

{% block "js" %}
	{{ block.super }}
	<script type="text/javascript" src="{% static "js/lib/Chart.js" %}"></script>
	<script type="text/javascript" src="{% static "js/barplot.js" %}"></script>
{% endblock %}

{% block "page_class" %}course_or_section_page{% endblock %}

{% block "content" %}
	<p>
		<h4>Professor: </h4><a href="/courses/browse/instructor/{{ professor.id }}/">{{ professor }}</a>
	</p>

	<p>
		<h4>Credit:</h4> {{ object.credit }}
	</p>

	<p>
		<h4>Department{% if object.course.departments.count > 1 %}s{% endif %}:</h4>
		{% for d in object.course.departments.all %}
			{{ d.non_breaking_name|safe }}{% if forloop.revcounter0 != 0 %},{% endif %}
		{% endfor %}
	</p>

	<p>
		<h4>Grading style:</h4> {{ object.grading_style }}
	</p>

	{% if object.note %}
		<p>
			<h4>Note:</h4> {{ object.note|safe|linebreaksbr }}
		</p>
	{% endif %}

	{% if object.description %}
		<h4>Course description:</h4> <p>{{ object.description|linebreaksbr }}</p>
	{% endif %}

	<p>
		{% if object.term.is_current_term %}
			<h4>Meeting times for the {{ object.term }} term:</h4>
			<ul>
				{% for mtg in object.meeting_set.all %}
					<li class="meeting">
						<span class="campus_icon campus_{{ mtg.get_campus }}">{{ mtg.get_campus }}</span>
						&mdash;

						{% for day in mtg.gen_days %}
						<span class="day_{{day}}">{{ day }}</span>
						{% endfor %}

						&mdash;
						{{ mtg.begin }}
						&ndash;
						{{ mtg.end }}
						&mdash;
						{{ mtg.location }}
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<h4>Note:</h4> This section taught by {{ professor }} isn't being offered during the {{ current_term }} term.
		{% endif %}
	</p>
	{% include "reviews/review_list.html" %}
{% endblock %}