{% extends "base_page.html" %}
{% load url from future %}

{% block "ogtitle" %}Dining and Shopping{% endblock %}
{% block "title" %}Dining and Shopping{% endblock %}
{% block "page_title" %}Dining and Shopping{% endblock %}

{% block "head" %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/eatshop.css" type="text/css">
{% endblock %}

{% block "breadcrumbs" %}
<ol class="breadcrumbs">
  <li><a href="{% url "eatshop" %}">Dining and Shopping</a></li>
  {% block "eatshop_breadcrumbs" %}
  {% endblock %}
</ol>
{% endblock %}