{% load cache %}
{% cache 86400 hours business %} <!-- Caches for 24 hours -->

{% load markup %}
{% load eatshop %}
  <div class="main_info">
    <p class="address">{{ business.address|linebreaksbr }}</p>
    <p> <a href="https://maps.google.com/maps?q={{ business.address|urlencode }}&amp;z=17">map this address</a></p>
    {% if business.phone or business.www %}
    <p class="contact">
      {% if business.phone %}phone: {{ business.phone }} {% if business.www %}&bull;{% endif %}{% endif %}
      {% if business.www %}<a href="{{ business.www }}">visit homepage</a>{% endif %}
    </p>
    {% endif %}
    {{ business.description|markdown:"extra"}}
    {% if business.has_discount %}
    <div class="discount">
      <h4>Offers and Discounts:</h4>
      {{ business.discount|markdown:"extra"}}
    </div>
    {% endif %}
  </div>
  {% if business.flex or business.claremont_cash or business.hours.count %}
  <div class="hours_payment">
    {% if business.flex or business.claremont_cash %}
    <p class="accepts">Accepts {% if business.flex %}<strong>Flex</strong> {% if business.claremont_cash %}and {% endif %}{% endif %}{% if business.claremont_cash %}<strong>ClaremontCash</strong>{% endif %}</p>
    {% endif %}
    {% format_hours business %}
  </div>
  {% endif %}

{% endcache %}