{% extends "base.html" %}

{% load staticfiles %}
{% load markup %}
{% load eatshop %}

{% block "ogtitle" %}Coop Fountain{% endblock %}
{% block "title" %}Coop Fountain{% endblock %}

{% block "ogdesc" %}{{ page.summary }}{% endblock %}
{% block "metadesc" %}{{ page.summary }}{% endblock %}

{% block "css" %}
  {{ block.super }}
    {% if page.stylesheet %}
      <link rel="stylesheet" type="text/css" href="{% static "css/pages/{{ page.stylesheet }}" %}"/>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{% static "css/eatshop/eatshop.css" %}"/>
{% endblock %}

{% block "content_prenav" %}
<section class="group primary coop_fountain">
  <ol class="breadcrumbs">
    <li><a href="{% url "eatshop" %}">Dining and Shopping</a></li>
    <li><a href="{% url "coop_fountain" %}">Coop Fountain</a></li>
  </ol>
  <div class="body">
    <h1 id="title">Coop Fountain{% if perms.page.can_change or perms.business.can_change %}<span id="actions">
    {% if perms.page.can_change %}&nbsp;<a href="{% url "admin:folio_page_change" page.id %}">(edit page)</a>{% endif %}
    {% if perms.business.can_change %}&nbsp;<a href="{% url "admin:eatshop_business_change" business.id %}">(edit business)</a>{% endif %}
    </span>{% endif %}</h1>

    <div class="hours_payment">
      {% format_hours business %}
    </div>
    <p class="address">{{ business.address|linebreaksbr }}</p>
    {% if business.phone %}
    <p class="contact">
      {% if business.phone %}phone: {{ business.phone }}{% endif %}
    </p>
    {% endif %}
    {{ business.description|markdown:"extra"}}
    {% if business.has_discount %}
    <div class="discount">
      <p class="accepts"><strong>We accept Flex/BoardPlus and ClaremontCash!</strong></p>
      {{ business.discount|markdown:"extra"}}
    </div>
    {% endif %}
  {% if page.body %}
  {{ page.body|markdown:"extra"}}
  {% endif %}
  </div>
</section>
{% endblock %}
