settings.py
celerybeat-schedule
*.sqlite3
*.pyc
*.tmp
*.pid
.DS_Store
Thumbs.db
temp/
fabfile/config.py
aspc/celerybeat-schedule
media/
.vagrant/
vagrant/ssh_config
vagrant/peninsula.key
vagrant/run/
/static/
.idea/
tmp/
*.exe
\aspc\menu\backends\ghostdriver.log
ghostdriver.log


# Django logging
/log/
!/log/.blank
htmlcov
.coverage
