{% extends "base_page.html" %}

{% block "ogtitle" %}Events Calendar{% endblock %}
{% block "title" %}Events Calendar{% endblock %}
{% block "page_title" %}Events Calendar{% endblock %}

{% block "head" %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/events.css" type="text/css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
{% endblock %}

{% block "breadcrumbs" %}
<ol class="breadcrumbs">
  <li><a href="{% url "events" %}">Events Calendar</a></li>
  {% block "events_breadcrumbs" %}
  {% endblock %}
</ol>
{% endblock %}