{% extends "events/base.html" %}
{% load url from future %}

{% block "ogdesc" %}Information on upcoming events for Claremont Colleges students.{% endblock %}
{% block "metadesc" %}Information on upcoming events for Claremont Colleges students.{% endblock %}

{% block "ogtitle" %}{{ event.name }}{% endblock %}
{% block "title" %}{{ event.name }}{% endblock %}
{% block "page_title" %}{{ event.name }} {% endblock %}

{% block "events_breadcrumbs" %}
<li><a href="{{ event.id }}">{{ event.name }}</a></li>
{% endblock %}


{% block "outer_content" %}
<table>
	<tr>
		<td>
			Start
		</td>
		<td>
			{{ event.start }}
		</td>
	</tr>
	{% if event.end %}
	<tr>
		<td>
			End
		</td>
		<td>
			{{ event.end }}
		</td>
	</tr>
	{% endif %}
	<tr>
		<td>
			Location
		</td>
		<td>
			{{ event.location }}
		</td>
	</tr>
	<tr>
		<td>
			Description
		</td>
		<td>
			{{ event.description }}
		</td>
	</tr>
	{% if event.url %}
	<tr>
		<td>
			Link
		</td>
		<td>
			<a href="{{ event.url }}">Original Event Page</a>
		</td>
	</tr>
	{% endif %}
</table>
{% endblock %}