{% extends "events/base.html" %}

{% load staticfiles %}

{% block "ogdesc" %}Information on upcoming events for Claremont Colleges students.{% endblock %}
{% block "metadesc" %}Information on upcoming events for Claremont Colleges students.{% endblock %}

{% block "head" %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/events.js" %}"></script>
<script type="text/javascript" src="{% static "js/event_calendar.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui-datepicker.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery-ui-datepicker-addon.js" %}"></script>

<script type="text/javascript">
ASPC.Events.calendar_data.events = {{ events|safe }};
{% if earliest_event_time %}
ASPC.Events.calendar_data.earliest_event_time = {{earliest_event_time|date:"G"}};
{% else %}
ASPC.Events.calendar_data.earliest_event_time = 0;
{% endif %}
{% if latest_event_time %}
ASPC.Events.calendar_data.latest_event_time = {{latest_event_time|date:"G"}};
{% else %}
ASPC.Events.calendar_data.latest_event_time = 23;
{% endif %}
</script>
{% endblock %}

{% block "css" %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/events/event_calendar.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/events/jquery-ui-datepicker.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/events/event_calendar.print.css" %}" media="print"/>
{% endblock %}

{% block "outer_content" %}
<div class="content">
	<br />
	<div id="calendar">
	</div>

	<div id="event_submission">
		<div id="facebook_page_submission">
			<h1>Watch a Facebook page for events</h1>
			<label for="facebook_page_url">Facebook page URL:&nbsp;</label>
			<input type="text" id="facebook_page_url" name="facebook_page_url" />
			<input type="button" id="facebook_page_submit_button" value="Submit" onClick="ASPC.Events.submit_facebook_page()"/>
			<img src="{% static "images/loading.gif" %}" id="facebook_page_submit_loading" />
		</div>

		<br />

		<div id="facebook_event_submission">
			<h1>Add a Facebook event</h1>
			<label for="facebook_event_url">Facebook event URL:&nbsp;</label>
			<input type="text" id="facebook_event_url" name="facebook_event_url" />
			<input type="button" id="facebook_event_submit_button" value="Submit" onClick="ASPC.Events.submit_facebook_event()"/>
			<img src="{% static "images/loading.gif" %}" id="facebook_event_submit_loading" />
		</div>

		<br />

		<div id="manual_submission">
			<h1>Add your own event</h1>
			<table>
				<tr>
					<td>
						Event name
					</td>
					<td>
						<input type="text" id="manual_event_name">
					</td>
				</tr>
				<tr>
					<td>
						Host
					</td>
					<td>
						<input type="text" id="manual_event_host">
					</td>
				</tr>
				<tr>
					<td>
						Start
					</td>
					<td>
						<input type="text" id="manual_event_start" />
					</td>
				</tr>
				<tr>
					<td>
						End
					</td>
					<td>
						<input type="text" id="manual_event_end" />
					</td>
				</tr>
				<tr>
					<td>
						Location
					</td>
					<td>
						<input type="text" id="manual_event_location">
					</td>
				</tr>
				<tr>
					<td>
						Description
					</td>
					<td>
						<textarea id="manual_event_description" cols="30" rows="5"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						Link to event info
					</td>
					<td>
						<input type="text" id="manual_event_url">
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<input type="button" id="manual_submit_button" value="Submit" onClick="ASPC.Events.submit_manual_event()"/>
						<img src="{% static "images/loading.gif" %}" id="manual_submit_loading" />
					</td>
			</table>
		</div>
	</div>

	<div id="watched_pages">
		<p><b>Pages currently being watched:</b></p>
		<ul>
		{% for page in facebook_event_pages %}
			<li>{{ page.name }}</li>
		{% endfor %}
		</ul>
	</div>

</div>
{% csrf_token %}
{% endblock %}