{% extends "events/base.html" %}
{% load url from future %}

{% block "ogdesc" %}Information on upcoming events for Claremont Colleges students.{% endblock %}
{% block "metadesc" %}Information on upcoming events for Claremont Colleges students.{% endblock %}

{% block "head" %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/event_calendar.css" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/event_calendar.print.css" type="text/css" media="print">
<script src="{{ STATIC_URL }}js/events.js"></script>
<script src="{{ STATIC_URL }}js/event_calendar.min.js"></script>

<script type="text/javascript">
// Set up namespacing
var ASPC = ASPC || {};
ASPC.Events = ASPC.Events || {};
ASPC.Events.calendar_data = ASPC.Events.calendar_data || {};
ASPC.Events.calendar_data.events = {{ events|safe }};
{% if earliest_event_time %}
ASPC.Events.calendar_data.earliest_event_time = {{earliest_event_time|date:"G"}};
{% else %}
ASPC.Events.calendar_data.earliest_event_time = 0;
{% endif %}
{% if latest_event_time %}
ASPC.Events.calendar_data.latest_event_time = {{latest_event_time|date:"G"}};
{% else %}
ASPC.Events.calendar_data.latest_event_time = 23;
{% endif %}
</script>
{% endblock %}

{% block "outer_content" %}
<div class="content">
	<br />
	<div id="calendar">
	</div>

	<div id="event_submission">
		<div id="facebook_submission">
			<h1>Submit a Facebook Event</h1>
			<p><label for="facebook_event_url">Paste the URL to a public Facebook event.</label></p>
			<input type="text" id="facebook_event_url" name="facebook_event_url" />
			<input type="button" id="facebook_event_submit_button" value="Submit" onClick="ASPC.Events.submit_facebook_event()"/>
			<img src="{{ STATIC_URL }}img/loading.gif" id="facebook_event_submit_loading" />

			<p><label for="facebook_page_url">Or paste the URL to a Facebook organization page to gather that organization's events.</label></p>
			<input type="text" id="facebook_page_url" name="facebook_page_url" />
			<input type="button" id="facebook_page_submit_button" value="Submit" onClick="ASPC.Events.submit_facebook_page()"/>
			<img src="{{ STATIC_URL }}img/loading.gif" id="facebook_page_submit_loading" />

			<p><b>Pages currently being watched:</b></p>
			<ul>
			{% for page in facebook_event_pages %}
				<li>{{ page.name }}</li>
			{% endfor %}
			</ul>
		</div>

		<div id="manual_submission">
			<h1>Submit Your Own Event</h1>
			<table>
				<tr>
					<td>
						Event Name
					</td>
					<td>
						<input type="text" id="manual_event_name">
					</td>
				</tr>
				<tr>
					<td>
						Host
					</td>
					<td>
						<input type="text" id="manual_event_host">
					</td>
				</tr>
				<tr>
					<td>
						Start
					</td>
					<td>
						<input type="datetime-local" id="manual_event_start" />
					</td>
				</tr>
				<tr>
					<td>
						End
					</td>
					<td>
						<input type="datetime-local" id="manual_event_end" />
					</td>
				</tr>
				<tr>
					<td>
						Location
					</td>
					<td>
						<input type="text" id="manual_event_location">
					</td>
				</tr>
				<tr>
					<td>
						Description
					</td>
					<td>
						<textarea id="manual_event_description" cols="30" rows="5"></textarea>
					</td>
				</tr>
				<tr>
					<td>
						External Link
					</td>
					<td>
						<input type="text" id="manual_event_url">
					</td>
				</tr>
				<tr>
					<td>
						<input type="button" id="manual_submit_button" value="Submit" onClick="ASPC.Events.submit_manual_event()"/>
						<img src="{{ STATIC_URL }}img/loading.gif" id="manual_submit_loading" />
					</td>
			</table>
		</div>
	</div>

</div>
{% csrf_token %}
{% endblock %}