
<div id="events_list">
	<ol>
		{% for event in events %}
			{% if forloop.first %}
			<li class="active">
			{% else %}
			<li>
			{% endif %}
				<time datetime="{{ event.start }}">
					{{ event.start|time:"g:i a" }}
				</time>
				<div class="event_info">
					<h3>{{ event.name }}</h3>
					<p class="host"><b>Host:</b> {{ event.host }}</p>
					<p class="location"><b>Location:</b> {{ event.location }}</p>
					<aside>
						<h3>{{ event.name }}</h3>
						<p class="host">{{ event.host }}</p>
						<p class="location">{{ event.location }}</p>
						<p class="description">
							{{ event.description|linebreaksbr }}
						</p>
						<p class="more_link">
							<a href="{% url "events_detail" event_id=event.id %}">More...</a>
						</p>
					</aside>
				</div>
			</li>
		{% endfor %}
	</ol>
</div>
<div id="events_description">
	<h3 id="events_description_title"></h3>
	<p id="events_description_host"></p>
	<p id="events_description_location"></p>
	<p id="events_description_description"></p>
	<p id="events_description_more_link"></p>
</div>
<div id="more">
	<a href="{% url "events" %}">see full calendar &rarr;</a>
  <a href="{% url "events" %}#event_submission">add an event &rarr;</a>
</div>