@font-face {
	font-family: "Hammersmith One";
	src: url(../../fonts/HammersmithOne.ttf);
}

body > .container {
padding-left: 20px;
padding-right: 20px;
min-width: 728px;
}

nav ul, section > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.row {
width: 100%;
max-width: 80em;
min-width: 765px;
margin: 0 auto;
overflow: hidden;
}

.row:after {
	content: "";
	display: block;
	clear: both;
}

body {
	margin: 0;
	padding: 0;
	font: 14px "Lucida Grande", Lucida, Verdana, sans-serif;
	background-image: url(../images/linen_background.png);
}

h1, h2, h3, h4, h5, .breadcrumbs {
	font-family: "Hammersmith One", Verdana, "Lucida Grande", Lucida, sans-serif;
	font-weight: normal;
}

h2 {
	font-size: 1.3em;
}

a {
	color: #235ee0;
}

blockquote {
	background-color: #ededed;
	padding: 0.5em;
	margin: 1em 2em;
}

.content > table, .primary > table, table.results {
	background-color: white;
	border-collapse: collapse;
	font-size: 0.9em;
	width: 100%;
}

.content > table td, .content > table th, .primary > table td, .primary > table th, table.results th, table.results td {
	padding: 0.75em;
	border: 1px solid #386d8e;
}

.content > table th, .primary > table th, table.results th {
	background-color: #c1d8ef;
	font-weight: bold;
}

.fullsize {
	display: inline;
}

.mobile {
	display: none;
}

form > ul {
	list-style-type: none;
	padding: 1em;
}

form > ul > li {
	margin-bottom: 1em;
}

form > ul > li > label {
	display: inline-block;
	width: 8em;
	font-weight: bold;
}