@media handheld, only screen and (max-width: 767px) {

	header#aspc_main {
		margin-bottom: 1em;
	}

	header#aspc_main h2 {
		border-radius: 0.5em;
	}

	header#aspc_main hgroup {
		padding-top: 0.5em;
		margin-bottom: 2.5em;
	}

	header#aspc_main .loginstatus {
		position: absolute;
		bottom: -2em;
		font-size: 0.9em;
		left: auto;
		right: auto;
		text-align: center;
		width: 100%;
	}

	header#aspc_main .loginstatus form {
		margin-bottom: -0.33em;
		font-size: 0.9em;
	}

	header#aspc_main .loginstatus form input[type="text"], header#aspc_main .loginstatus form input[type="password"] {
		width: 8em;
	}

}