{% load compress %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ASPC &mdash; {% block "title" %}The Associated Students of Pomona College{% endblock %}</title>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="apple-touch-icon-precomposed" href="{% static "mages/apple_icons/touch-icon-iphone.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "images/apple_icons/touch-icon-ipad.png" %}" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "images/apple_icons/touch-icon-iphone4.png" %}" />
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" />
    <meta name="description" content="{% block "metadesc" %}ASPC exists to provide for reasonable and effective student participation in the governance of the College and provide a governance structure for the students of Pomona College. ASPC also provides various services, including club funding, Course Reviews, Housing Reviews, and the Coop Fountain and Store.{% endblock %}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://aspc.pomona.edu/static/images/apple_icons/touch-icon-iphone4.png">
    <meta property="og:url" content="{{ absolute_uri }}">
    <meta property="og:site_name" content="ASPC - {% block "ogtitle" %}The Associated Students of Pomona College{% endblock %}">
    <meta property="fb:page_id" content="171112626308633">
    <meta property="og:description" content="{% block "ogdesc" %}ASPC exists to provide for reasonable and effective student participation in the governance of the College and provide a governance structure for the students of Pomona College. ASPC also provides various services, including club funding, Course Reviews, Housing Reviews, and the Coop Fountain and Store.{% endblock %}">

    {% compress css %}
      {% block "css" %}
        <link rel="stylesheet" type="text/css" href="{% static "css/base/base.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/base/content.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/base/header.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/base/breadcrumbs.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/base/sidebar.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/base/footer.css" %}"/>
      {% endblock %}
    {% endcompress %}

    {% if is_mobile %}
      {% compress css %}
        {% block "mobile_css" %}
          <link rel="stylesheet" type="text/css" href="{% static "css/base/base.mobile.css" %}">
          <link rel="stylesheet" type="text/css" href="{% static "css/base/content.mobile.css" %}">
          <link rel="stylesheet" type="text/css" href="{% static "css/base/header.mobile.css" %}"/>
          <link rel="stylesheet" type="text/css" href="{% static "css/base/breadcrumbs.mobile.css" %}"/>
          <link rel="stylesheet" type="text/css" href="{% static "css/base/sidebar.mobile.css" %}"/>
        {% endblock %}
      {% endcompress %}
    {% endif %}

    {% block "nocompress_css" %}
    {% endblock %}
  </head>
  <body class="{% block "content_class" %}{% endblock %}">

    {% if voting_active %}
      {% include "voting_banner_fragment.html" %}
    {% endif %}

  <header id="aspc_main" class="container">
    <hgroup class="row">
      <h1><a href="{% url "home" %}">ASPC</a></h1>
      <h2><a href="{% url "home" %}">Associated Students of Pomona College</a></h2>
      <a id="logo" href="/"></a>
{% include "login_status_fragment.html" %}
      <!-- <form>
        <input type="text" name="q" placeholder="search ASPC">
      </form> -->
    </hgroup>
  </header>

  <div class="container">
  <div id="content_main" class="row">
    {% if messages %}
    <ul class="messages group">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block "content_prenav" %}
    {% endblock %}
  {% block "nav" %}
  {% include "navigation.html" %}
  {% endblock %}
  {% block "content_postnav" %}
  {% endblock %}
  </div> <!-- end content main -->
  </div>
  <footer>
    <p>&copy; 2016 Associated Students of Pomona College</p>
    <p>Directory and course information provided by and copyright Pomona College.</p>
    <p>Created by the <a href="http://aspc.pomona.edu/senate/digital-media-programming/">ASPC Digital Media Group</a><br>Joseph Long &rsquo;14, Matt Dahl  &rsquo;17, Dima Smirnov  &rsquo;17, Aloke Desai  &rsquo;16.</p>

    {% compress js %}
      {% block "js" %}
        {% include "analytics_code.html" %}
      {% endblock %}
    {% endcompress %}

    {% block "nocompress_js" %}
      {% include "settings.js.html" %}
    {% endblock %}
  </footer>
  </div>
  </body>
</html>
