{% load url from future %}
{% load pages %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>ASPC &mdash; {% block "title" %}The Associated Students of Pomona College{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" type="text/css" media="screen">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}css/images/apple_icons/touch-icon-iphone.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}css/images/apple_icons/touch-icon-ipad.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}css/images/apple_icons/touch-icon-iphone4.png" />
<meta name="description" content="{% block "metadesc" %}ASPC exists to provide for reasonable and effective student participation in the governance of the College and provide a governance structure for the students of Pomona College. ASPC also provides various services, including club funding, Course Reviews, Housing Reviews, and the Coop Fountain and Store.{% endblock %}">
<meta property="og:type" content="website">
<meta property="og:image" content="http://aspc.pomona.edu/static/css/images/apple_icons/touch-icon-iphone4.png">
<meta property="og:url" content="{{ absolute_uri }}">
<meta property="og:site_name" content="ASPC - {% block "ogtitle" %}The Associated Students of Pomona College{% endblock %}">
<meta property="fb:page_id" content="171112626308633">
<meta property="og:description" content="{% block "ogdesc" %}ASPC exists to provide for reasonable and effective student participation in the governance of the College and provide a governance structure for the students of Pomona College. ASPC also provides various services, including club funding, Course Reviews, Housing Reviews, and the Coop Fountain and Store.{% endblock %}">
    {% include "analytics_code.html" %}
    {% block "head" %}
    {% endblock %}
  </head>
  <body class="{% block "content_class" %}{% endblock %}">
  <nav id="topnav" class="container">
    <div class="row">
      <div id="user">
        {% include "login_status_fragment.html" %}
      </div>
    </div>
  </nav>

  <header id="aspc_main" class="container">
    <hgroup class="row">
      <h1><a href="{% url "home" %}">ASPC</a></h1>
      <h2><a href="{% url "home" %}">Associated Students of Pomona College</a></h2>
      <a id="logo" href="/"></a>
      <!-- <form>
        <input type="text" name="q" placeholder="search ASPC">
      </form> -->
    </hgroup>
  </header>
  
  <div class="container">
  <div id="content_main" class="row"> 
    {% if messages %}
    <ul class="messages group">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block "content_prenav" %}
    {% endblock %}
  {% block "nav" %}
  <nav id="sitewide" class="secondary{% if all_nav %} all{% endif %}">
    <ul>
      <li id="food" class="group"><h1>Food &amp; Drink</h1>
        <ul>
          <li><a href="http://www.mikemaltese.com/5cmenu/">Dining Halls<span class="note">until 2 am</span></a></li>
          <!-- <li><a href="">On-campus Eateries<span class="note">until 2 am</span></a></li>
          <li><a href="">Restaurants<span class="note">until 2 am</span></a></li> -->
        </ul>
      </li>
      
      {% root_navigation_list services as navigation %}
      {% with navigation.0.1 as pages %}
      <li id="services" class="group{% if active_section == "services" %} active{% endif %}">
        <h1>Services</h1>
        <ul>
          <li><a href="http://aspc.pomona.edu/courses/schedule/">Course Search</a></li>
          <li><a href="http://aspc.pomona.edu/course-reviews/">Course Reviews</a></li>
          <li><a href="{% url "housing_home" %}">Housing Search</a></li>
          <li><a href="{% url "sagelist" %}">SageBooks</a></li>
          <!-- <li><a href="">Events Calendar</a></li> -->
          {% for sub in pages %}
          <li><a href="{{ sub.get_absolute_url }}">{{ sub.display_title }}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% endwith %}
      
      {% root_navigation_list information as navigation %}
      {% with navigation.0.1 as pages %}
      <li id="information" class="group{% if active_section == "information" %} active{% endif %}">
        <h1>Information</h1>
        <ul>
          <li><a href="http://eventpomona.com/">Event Pomona</a></li>
          {% for sub in pages %}
          <li><a href="{{ sub.get_absolute_url }}">{{ sub.display_title }}</a></li>
          {% endfor %}
        </ul>
      </li>
      {% endwith %}
      
      {% root_navigation_list senate as navigation %}
      
      {% with navigation.0.1 as pages %}
      <li id="senate" class="group{% if active_section == "senate" %} active{% endif %}">
        <h1>Senate</h1>
        <ul>
          {% for sub in pages %}
          <li><a href="{{ sub.get_absolute_url }}">{{ sub.display_title }}</a></li>
          {% endfor %}
          <li><a href="http://aspc.pomona.edu/vote/">Elections &amp; Voting</a></li>
        </ul>
      </li>
      {% endwith %}
      
      {% root_navigation_list as navigation excluding senate,information,services %}
      {% include "navigation_fragment.html" %}
      
      <li id="partners" class="group"><h1>Partners</h1>
        <ul>
          <li><a href="http://www.kspc.org/">KSPC 88.7</a></li>
          <li><a href="http://tsl.pomona.edu/">The Student Life</a></li>
          <li id="amazon_link"><a href="http://www.amazon.com/?_encoding=UTF8&amp;tag=assostudofpom-20&amp;linkCode=ur2&amp;camp=1789&amp;creative=390957">Shop Amazon Associates</a><img src="https://www.assoc-amazon.com/e/ir?t=assostudofpom-20&amp;l=ur2&amp;o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
        </ul>
      </li>
    </ul>
  </nav>
  {% endblock %}
  {% block "content_postnav" %}
  {% endblock %}
  </div> <!-- end content main -->
  </div>
  <footer>
    <p>&copy; 2011 Associated Students of Pomona College</p>
    <p>Directory and course information provided by and copyright Pomona College.</p>
    <p>Design and code by Joseph Long &rsquo;14.</p>
  </footer>
  </div>
  </body>
</html>
