{% extends "base.html" %}
{% load url from future %}

{% block "content_postnav" %}
<section class="group primary events">
	<h1>Today's Events</h1>
	<div id="events_list">
		<ol>
			<li class="active">
				<time datetime="10:00 AM">
					<span class="hour">10:00</span>
					<span class="ampm">am</span>
				</time>
				<div class="event_info">
					<h3>&ldquo;How to Do Things&rdquo;</h3>
					<p class="host">Professor Smith, General Studies</p>
					<p class="location">Rose Hills Theater</p>
				</div>
				<aside>
					<h3>&ldquo;How to Do Things&rdquo;</h3>
					<p class="host">Professor Smith, General Studies</p>
					<p class="location">Rose Hills Theater</p>
					<p>Prof. Smith has returned from sabbatical with a few interesting thoughts to share on the practice of doing things in cultures around the world. Come join the General Studies department in listening to Prof. Smith's first post-sabbatical lecture.</p>
					<p>Open to members of the public.</p>
					<p>Free admission.</p>
				</aside>
			</li>
			<li>
				<time datetime="11:15 AM">
					<span class="hour">10:00</span>
					<span class="ampm">am</span>
				</time>
				<div class="event_info">
					<h3>Discount Bagels at the Coop Fountain</h3>
					<p class="location">Coop Fountain</p>
				</div>
				<aside>
					<h3>Discount Bagels at Coop Fountain</h3>
					<p class="location">Coop Fountain</p>
					<p>So, like, we have some bagels that are hella old and we'd like you to take them off our hands for 47 cents. Just come and get them whenever!</p>
					<p>Love,</p>
					<p>The Coopsters</p>
				</aside>
			</li>
			<li>
				<time datetime="1:00 PM">
					<span class="hour">1:00</span>
					<span class="ampm">pm</span>
				</time>
				<div class="event_info">
					<h3>Those Guys In That Band (live!)</h3>
					<p class="location">Listen on KSPC 88.7</p>
				</div>
				<aside>
					<h3>Those Guys In That Band (live!)</h3>
					<p class="location">Listen on KSPC 88.7</p>
					<p>Those Guys In That Band have returned to Claremont to play a live on-air set for the college radio station that gave them their first ever play in regular rotation.</p>
					<p>Sometimes called "a cross between Massive Attack and Raffi", or "dancehall punk polka", their music really does defy genre classification.</p>
					<p>Tune in on KSPC 88.7 fm to hear them, and be sure to check out their <a href="">page on bandcamp</a>.</p>
				</aside>
			</li>
			<li>
				<time datetime="11:00 PM">
					<span class="hour">11:00</span>
					<span class="ampm">pm</span>
				</time>
				<div class="event_info">
					<h3>Ancient Astronomy: Stars and Stuff</h3>
					<p class="host">Prof. Penprase, Astronomy Department</p>
					<p class="location">Brackett Observatory</p>
				</div>
				<aside>
					<h3>Ancient Astronomy: Stars and Stuff</h3>
					<p class="host">Prof. Penprase, Astronomy Department</p>
					<p class="location">Brackett Observatory</p>
					<p>Professor Penprase will be delivering a lecture on ancient astronomy for interested students and members of the community at Brackett Observatory. Topics will include old rocks, old stars, really old stars, and old people. The lecture will be followed by a demonstration of the Brackett Observatory telescope.</p>
				</aside>
			</li>
		</ol>
	</div>
	<div id="events_description">
		<h3>&ldquo;How to Do Things&rdquo;</h3>
		<p class="host">Professor Smith, General Studies</p>
		<p class="location">Rose Hills Theater</p>
		<p>Prof. Smith has returned from sabbatical with a few interesting thoughts to share on the practice of doing things in cultures around the world. Come join the General Studies department in listening to Prof. Smith's first post-sabbatical lecture.</p>
		<p>Open to members of the public.</p>
		<p>Free admission.</p>
	</div>
	<div id="more">
		<a href="">see full calendar &rarr;</a>
	</div>
</section>
<section class="group primary news">
	<h1>Senate News</h1>
	{% if posts %}
	{% include "blog/posts_fragment.html" %}
	{% else %}
	<p>No recent posts to display</p>
	{% endif %}
</section>
{% endblock %}
