{% extends "base.html" %}
{% load url from future %}

{% block "head" %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/home.js"></script>
{% endblock %}

{% block "content_postnav" %}
<section class="group primary events">
	<h1>Today's Events</h1>
	{% if events %}
	{% include "events/todays_events.html" %}
	{% else %}
	<p>No events today. <a href="{% url "events" %}">See full calendar...</a></p>
	{% endif %}
</section>
<section class="group primary news">
	<h1>Senate News</h1>
	{% if posts %}
	{% include "blog/posts_fragment.html" %}
	{% else %}
	<p>No recent posts to display.</p>
	{% endif %}
</section>
{% endblock %}
