{% extends "base.html" %}
{% block "content_postnav" %}
<!-- <section class="group primary news">
  <h1>Welcome</h1>
  <div class="content">
    <blockquote>The ASPC is the student body association of Pomona College. The ASPC provides for reasonable and effective student participation in the governance of the College and serves as the representative voice of Pomona College students both on and off campus.</blockquote>
    <p>We're improving and redesigning the ASPC website, so some things aren't available right now. Everything that's currently up is linked to from the navigation bar on this page.</p>
    <p>We're planning a lot of cool new things for this space, so keep an eye on the navigation for new additions.</p>
    <h2>Here's some of the things we're working on:</h2>
    <ul class="links">
      <li>Restoring the Housing Reviews site</li>
      <li>Moving <a href="http://labs.fairlyawesome.com/ourpomona/">Our Pomona</a> to the ASPC server</li>
      <li>Reworking and redesigning the Connection47 textbook sales site</li>
      <li>Elections code</li>
      <li>Unifying ASPC services under one site</li>
    </ul>
  </div>
</section> -->
<section class="group primary news">
  <h1>Senate News</h1>
  {% if posts %}
  {% include "blog/posts_fragment.html" %}
  {% else %}
  <p>No recent posts to display</p>
  {% endif %}
</section>
<section class="group primary news">
  <h1>2010-2011 Year-End Report</h1>
  <div class="content">
  <p align="center">
    <strong>2010-2011 ASPC</strong>
  </p>
  <p align="center">
    <strong>YEAR-END SUMMARY REPORT</strong>
  </p>
  <p align="center">
    <strong><span style="text-decoration: underline;">EVENTS &amp; PROGRAMS</span></strong>
  </p>
  <p>
    This year, the ASPC’s <strong>Committee for Campus Life and Activities (CCLA)</strong> organized countless successful events and programs. Here is a sampling of just a few:
  </p>
  <div>
    <ul class="list_3_col">
      <li>Harwood Halloween
      </li>
      <li>Smiley 80s
      </li>
      <li>Symposium
      </li>
      <li>Table Manners
      </li>
      <li>The REAL Walker Beach
      </li>
      <li>Art After Hours
      </li>
      <li>Winter Formal (Yule Ball)
      </li>
      <li>Spring Formal
      </li>
      <li>Weekend Film Screenings
      </li>
      <li>Beach-Beach Day
      </li>
      <li>Blue &amp; Orange Welcome Back
      </li>
      <li>Pig Kahuna
      </li>
      <li>Frank Langan Presents Walker 90s
      </li>
      <li>Frank Langan Presents the VIP Party
      </li>
      <li>Frank Langan Presents the Ringing of the Clock Tower
      </li>
      <li>Music Month featuring The Thermals Concert
      </li>
      <li>Junior/Senior Karaoke Night
      </li>
      <li>De-Stress Extravaganza
      </li>
      <li>Pomona Bowl
      </li>
      <li>47 Things to Do Trips
      </li>
    </ul>
  </div>
  <p>
    The <strong>Senior Class Social Events Committee</strong> also organized Take Back Frank, the Senior Formal, Senior Salute, Senior SYR, and (in partnership with the Junior Class Committee) Junior-Senior Socials!
  </p>
  <p>
    The <strong>ASPC New York Times Program</strong> brought NY Times National Editor Richard Burke to campus to discuss Midterms and the Media.
  </p>
  <p>
    The <strong>ASPC Food Committee</strong> held its annual Iron Frank and Frary Cooking Competition.
  </p>
  <p>
    The <strong>ASPC Environmental Quality Committee</strong> partnered with several organizations to host a spring Organic Dinner. It also hosted a Sustainability Film Festival and the first ever 5-C Environmental Conference and Council.
  </p>
  <p>
    The <strong>ASPC College Town Committee</strong> started a free tutoring program for the children of Pomona staff members and organized a babysitting program for College faculty and staff.
  </p>
  <p>
    The <strong>ASPC Paint Program</strong> was fully launched this year, providing free materials for individual students and organizations to paint on Walker Wall.
  </p>
  <p align="center">
    <strong><span style="text-decoration: underline;">ALCOHOL POLICY</span></strong>
  </p>
  <p>
    This year’s ASPC’s Student Delegation to the Student Affairs Committee drafted and successfully passed a new policy that permits students of age to consume alcoholic beverages in their suite common rooms.
  </p>
  <p align="center">
    <strong><span style="text-decoration: underline;">DORM ACCESS RESTRICTIONS</span></strong>
  </p>
  <p>
    The “new dorms” were designed to require students to swipe in to enter the buildings, swipe in to enter the residential hallways, swipe in to enter the common rooms, and key into individual rooms. When Pomona considered configuring the swipe system so that only students who live on a particular floor could access that floor, the ASPC successfully fought to prevent the establishment of these access restrictions.
  </p>
  <p align="center">
    <strong><span style="text-decoration: underline;">COOP STORE &amp; FOUNTAIN</span></strong>
  </p>
  <p>
    The ASPC moved forward with plans to renovate the ASPC Coop Store after learning that the College had agreed to provide 1/3 of the required funding.
  </p>
  <p>
    The ASPC passed a policy for usage of the ASPC Coop Fountain television that was installed over the summer by the previous year’s Senate. The policy allows the television to play determined news channels and ESPN on mute.
  </p>
  <p align="center">
    <strong><span style="text-decoration: underline;">ASPC BUDGET &amp; RESERVES</span></strong>
  </p>
  <p>
    For 2011-2012, the ASPC allocated almost $60,000 to Pomona and 5C clubs and organizations, and provided 43% of all funding to 5C clubs and organizations. The ASPC further allocated $244,000 to ASPC programs and operations including The Student Life, KSPC, CCLA, and the New York Times program. The ASPC also passed a policy for governing how Fraternities may access the ASPC Alcohol Fund.
  </p>
  <p>
    Regarding its reserves, the ASPC moved to a slightly more aggressive position after a couple of very successful years during the financial crisis, during which ASPC investments leant heavily toward bonds.
  </p>
  <p align="center">
    <strong><span style="text-decoration: underline;">ASPC OUTREACH</span></strong>
  </p>
  <p>
    This year, the ASPC formed a subcommittee to improve ASPC’s transparency and outreach to the student body. This year the ASPC was included in first year orientation, and it hosted an information table at the SCC Open House. The subcommittee also organized a fall and spring information session prior to the fall and spring elections.
  </p>
  <p>
    The ASPC also created a new position titled the ASPC Director of Public Relations to facilitate the Senate’s communication with the student body by regularly updating the Senate’s online social media and website. Next year, the position will be responsible for producing a weekly email with information including an annotated agenda of the Senate’s upcoming meeting, the minutes of the Senate’s previous meeting, recent accomplishments, and upcoming Senate events.
  </p>
  <p>
    Additionally, the ASPC reached out to the student body through a number of surveys. When the Academic Procedures Committee discussed grade inflation and redefining grading at Pomona, the student representatives surveyed students on the issue. The ASPC Food Committee also surveyed students on cereal and beverage preferences, and the ASPC Coop Committee surveyed students about ASPC Coop Fountain meal preferences. The First Year Class Committee conducted a first year survey, with particular attention to reviewing first year orientation. Finally, the ASPC surveyed the student body on their attitudes toward the Pomona College Mark.
  </p>
  <p align="center">
    <strong><span style="text-decoration: underline;">ELECTIONS SYSTEM REFORM</span></strong>
  </p>
  <p>
    The ASPC decided to reform its electoral system to instant runoff voting (IRV) in order to prevent runoffs, maintain a high voter turn out, and make elections more efficient. The new system was successfully implemented in the fall and spring elections.
  </p>
  <p align="center">
    <strong><span style="text-decoration: underline;">ASPC WEB OPERATIONS</span></strong>
  </p>
  <p>
    This year the ASPC formed a subcommittee to improve ASPC web operations. The ASPC moved to a Gmail platform and gave every Senate position a Gmail address. This change has improved the Senate’s ability to communicate internally and externally while also providing a valuable source of institutional memory. Next, the ASPC moved all of its Committee Applications online. Finally, the ASPC worked with its Lead Web Developer to create a Room Reviews feature on its website.
  </p>
  <p align="center">
    <strong><span style="text-decoration: underline;">POMONA DINING TRANSITION</span></strong>
  </p>
  <p>
    This year, the ASPC Food Committee was involved in monitoring Pomona’s transition to an in-house dining operation, and it worked to communicate and address student needs and concerns. Both the Food Committee chairs and the ASPC President were involved in the interviewing process for candidates such as the new general manager of dining services.
  </p>
  <p align="center">
    <strong><span style="text-decoration: underline;">SMITH MEMORIAL TOWER</span></strong>
  </p>
  <p>
    In order to establish a new Pomona tradition, the ASPC voted to have Pomona’s clock tower toll on the 47<sup>th</sup> minute from 9:47 to 5:47, Mondays through Fridays.
  </p>
  <p align="center">
    <strong><span style="text-decoration: underline;">RESOLUTIONS</span></strong>
  </p>
  <p>
    The ASPC passed a resolution on behalf of the student body expressing its deepest gratitude for the dedicated service, commitment, and vision of former Vice President and Dean of Admissions Bruce Poch.
  </p>
        </div>
{% endblock %}
