<div class="loginstatus">
	{% if user.is_authenticated %}
		<span class="userinfo">{{ user.get_full_name }}</span>
		<span id="username">{{ user.username }}</span> &middot; <a href="{% url 'logout' %}">log out?</a>
		{% if user.is_staff %}
			&middot; <a href="{% url 'admin:index' %}">admin</a>
		{% endif %}
	{% else %}
		<div class="loginstatus__form">
			<form action="{% url 'aspc.auth2.views.guest_login' %}">
				<input type="hidden" name="next" value="{{ absolute_uri|urlencode:"" }}" />
				<input type="submit" value="Guest Login">
			</form>
			<form action="{% url 'aspc.auth2.views.login' %}">
				<input type="hidden" name="next" value="{{ absolute_uri|urlencode:"" }}" />
				<input type="submit" value="Login (Pomona Students)">
			</form>
		</div>
	{% endif %}
</div>