{% extends "base.html" %}
{% block "content_prenav" %}
<section class="group primary">
  <h1>Welcome</h1>
  <div class="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempus facilisis lectus ac commodo. Vestibulum tempor dolor id ante cursus vitae viverra augue euismod. Quisque rutrum consectetur felis vitae rutrum. Phasellus interdum vestibulum mi ac ornare. Nam quis metus mi. Donec sagittis vehicula dapibus. Donec quis nibh libero, eu semper arcu. Cras quis nibh urna. Vivamus a nisi massa. Duis quis posuere lacus. Nam elit eros, tempus at pretium auctor, imperdiet a felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
  </div>
</section>
{% endblock %}