{% extends "base_page.html" %}

{% load staticfiles %}

{% block "metadesc" %}
	Search for courses with advanced filters, see your schedule as you build it, and get a link to share with your advisor or on facebook!
{% endblock %}
{% block "ogdesc" %}
	Search for courses with advanced filters, see your schedule as you build it, and get a link to share with your advisor or on facebook!
{% endblock %}

{% block "title" %}Course Planner and Reviews{% endblock %}
{% block "page_title" %}Course Planner and Reviews{% endblock %}

{% block "css" %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "css/courses/courses.css" %}"/>
{% endblock %}

{% block "content_class" %}schedule{% endblock %}

{% block "breadcrumbs" %}
	<ol class="breadcrumbs">
		<li>Services</li>
		<li><a href="{% url "courses_home" %}">Courses</a></li>
		{% block "courses_breadcrumbs" %}{% endblock %}
	</ol>
{% endblock %}