{% extends "courses/schedule.html" %}
{% block startup_script %}
	var die = false;
	if (jQuery.browser.msie) {
		var IEv = parseInt(jQuery.browser.version);
		if (IEv <= 7) {
			var die = true;
		}
	}
	if (die == false){
		$(document).ready(function() {
			$('#message').remove();
			init();
			loadSavedCalendar({{ schedule.json_encoded|safe }});
		});
	}
{% endblock %}
{% block logo %}{% endblock logo %}
{% block share_clear %}{% endblock %}
{% block side_panel %}
<div id="side_panel" class="hidden"></div>
{% endblock %}
{% block schedule_panel_class %}full_width{% endblock schedule_panel_class %}
