#event_submission, #watched_pages {
	float: left;
	padding: 1%;
}

#event_submission {
	width: 52%;
}

#watched_pages {
	width: 44%;
}

#facebook_event_submit_loading, #facebook_page_submit_loading, #manual_submit_loading {
	display: none;
}