@media handheld, only screen and (max-width: 767px) {

	#facebook_event_submission, #facebook_page_submission, #manual_submission {
		width: 100%;
		padding: 1%;
	}

	#manual_submission textarea {
		width: 200px;
	}

	.fc-header-center {
		font-size: 14px;
	}

	.fc-header-left, .fc-header-right {
		display: none;
	}

}