{% extends "courses/base.html" %}

{% block "metadesc" %}
	Read and write reviews for therapists.
{% endblock %}
{% block "ogdesc" %}
	Read and write reviews for therapists.
{% endblock %}

{% block "title" %}Add a New Review{% endblock %}
{% block "page_title" %}Add a New Review for {{ form.therapist }}{% endblock %}

{% block "therapists_breadcrumbs" %}
	<li>
		<a href="{% url "search_reviews" %}">Browse and Add Therapy Reviews</a>
	</li>
	<li>Add a New Review</li>
{% endblock %}

{% block "content" %}
<div id="new_review_form">
	<form action="{{ action }}" method="POST">
		{% csrf_token %}
		<ul>
			{{ form.as_ul }}
		</ul>
		<input id="submit" type="submit" value="Submit review &rarr;" />
	</form>
</div>
{% endblock %}