@media handheld, only screen and (max-width: 767px) {
	.group.primary.events {
		background-color: white;
	}

	#events_list {
		width: 100%;
	}

	#events_description {
		display: none;
	}

	.event_info {
		width: 79.7%;
	}

	.events li:nth-child(even) .event_info {
		background: white;
	}

	.events li:nth-child(odd) .event_info {
		background: #eee;
	}

	.events h1 {
		margin-left: 0;
		font-size: 0.9em;
		padding-left: 0.5em;
	}

	.events li .events_description {
		display: none;
	}

	.events li.active .events_description {
		position: relative;
		width: auto;
		height: auto;
		display: block;
		box-shadow: inset 0px 0px 5px black;
		-webkit-box-shadow: inset 0px 0px 5px black;
		overflow: auto;
	}


	.events .events_description h3, .events .events_description p.location, .events .events_description p.host {
		display: none;
	}

	.events ol time {
		line-height: 1.2em;
		width: 3.199em;
		font-size: 1em;
		text-shadow: none;
		color: white;
		text-align: right;
		padding: 0;
		padding-top: 0.75em;
		padding-right: 0.3em;
	}

	.events ol time span {
		font-size: 0.85em;
	}

	.events ol time span.ampm {
		display: block;
		padding-top: 0.5em;
	}


	section > .events ol li:last-child time {
		border-bottom-left-radius: 0.45em;
	}

	.group.events ol li > a {
		padding: 0;
		background: none;
	}

	.events ol {
		border-radius: 0.45em;
		border: none;
		padding: 0;
		min-height: 0;
	}

	.events ol li {
		padding: 0;
		background-color: #2f5184;
		line-height: 1em;
		border-bottom: none;
	}

	.events ol li:after {
		content: "";
		display: block;
		clear: both;
	}

	.events ol li a {
		font-size: 1em;
	}

	.events ol p.host, .events ol p.location {
		font-size: 0.7em;
		margin: 0.34em 0;
		color: #3b3b3b;
	}
}