from configuration import *

# Django settings for aspc project.

DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
    # ('Your Name', 'your_email@example.com'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'main_django',           # Or path to database file if using sqlite3.
        'USER': 'main',                  # Not used with sqlite3.
        'PASSWORD': 'dev_password',      # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache',
        'LOCATION': '127.0.0.1:11211',
    }
}

# Absolute filesystem path to the directory that will hold user-uploaded files.
# Example: "/home/media/media.lawrence.com/media/"
MEDIA_ROOT = os.path.abspath(os.path.join(PROJECT_ROOT, '..', 'media'))

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash.
# Examples: "http://media.lawrence.com/media/", "http://example.com/media/"
MEDIA_URL = '/media/'

# Absolute path to the directory static files should be collected to.
# Don't put anything in this directory yourself; store your static files
# in apps' "static/" subdirectories and in STATICFILES_DIRS.
# Example: "/home/media/media.lawrence.com/static/"
STATIC_ROOT = os.path.abspath(os.path.join(PROJECT_ROOT, '..', 'static'))

# URL prefix for static files.
# Example: "http://media.lawrence.com/static/"
STATIC_URL = '/static/'

# Boolean that decides if compression will happen. To test compression when DEBUG
# is True COMPRESS_ENABLED must also be set to True.
# Set this to True only if you want to test compression locally. Otherwise, it's always
# nicer and easier to debug non-compressed assets locally.
# http://django-compressor.readthedocs.org/en/latest/settings/#django.conf.settings.COMPRESS_ENABLED
COMPRESS_ENABLED = False

# Set this to True to display a "vote now" banner on the site
VOTING_ACTIVE = False

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'CHANGE_THIS_KEY'

EMAIL_BACKEND = 'django.core.mail.backends.filebased.EmailBackend'
EMAIL_FILE_PATH = os.path.join(PROJECT_ROOT, "temp")

# Credentials for RabbitMQ (Celery)
BROKER_URL = "amqp://developer:developer@localhost:5672//"

# Set this value to be able to fetch data from Pomona's course API
COURSE_API_URL = ''

# Set these values to make Twitter API calls (e.g. for the activitystream app)
TWITTER_CONSUMER_KEY = ''
TWITTER_CONSUMER_SECRET = ''
TWITTER_ACCESS_TOKEN = ''
TWITTER_ACCESS_TOKEN_SECRET = ''

# Set these values to make Facebook API calls (e.g. for the events app)
FACEBOOK_APP_ID = ''
FACEBOOK_APP_SECRET = ''

ANNOUNCEMENT_BANNER_ACTIVE = False
ANNOUNCEMENT_BANNER_CONTENT = ''