/* @override http://localhost:8000/static/css/pages/budget.css */

#horiz_bar {
	background: url(budget_bar_2011-12.png);
	height: 28em;
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	display: block;
}

#pie_chart {
	background: url(budget_pie_2011-12.png);
	width: 45%;
	height: 20em;
	background-size: 100%;
	float: right;
}

#legend h2 {
	padding: 0.25em;
	font-weight: normal;
	border-bottom: 0.25em solid;
}

#legend {
	width: 50%;
}

h2#admin {
	border-bottom-color: #6d98c3;
}

h2#senate {
	border-bottom-color: #c47169;
}

h2#pec {
	border-bottom-color: #abbe73;
}

h2#funds {
	border-bottom-color: #9682b0;
}

h2#partners {
	border-bottom-color: #6bb6c9;
}

h2#studentorg {
	border-bottom-color: #faa757;
}

@media handheld, only screen and (max-width: 767px) {

#horiz_bar {
	height: 12em;
}

#pie_chart {
	float: none;
	width: 100%;
	height: 18em;
}

#legend {
	width: 100%;
}

#by_amount ul {
	list-style-type: none;
	padding: 0;
}

#by_amount ul li {
	margin-bottom: 0.25em;
}

}