/* @override http://localhost:8000/static/css/pages/PEC.css */

/* PEC STYLES */
@media screen and (min-width: 767px) {
	section.page > h1 {
		font-family: Podkova, Rockwell, serif;
		color: black;
		font-size: 2.4em;
		min-height: 65px;
		padding: 0;
		padding-left: 210px;
		padding-top: 25px;
		margin: 1em;
		background: transparent url(pec_logo.png) no-repeat;
	}
	
	section.page .content h1, section.page .content h2, section.page .content h3, section.page .content h4 {
		font-family: Podkova;
	}
	
	section.page .content h1 {
		font-size: 1.7em;
	}
	
	section.page #sidebar {
		width: 40%;
		float: right;
		padding: 1em;
		margin: 1em;
		margin-top: 0;
		background-color: #bd373a;
		color: #f9ecec;
	}
	
	section.page #sidebar h1 {
		font-size: 1.5em;
		margin-top: 0;
	}
	
	section.page #sidebar a {
		color: #fff;
	
	}	
}
