{% extends 'forum_base.html' %}

{% block "content" %}
    {% if user.is_authenticated %}
        {% block "content" %}
            <nav>
                <ul id="home" class="listview">
                    <li><a href="{% url "all_posts" %}">View all posts</a></li>
                    <li><a href="{% url "all_questions" %}">Ask, answer or browse questions</a></li>
                </ul>
            </nav>
        {% endblock %}
    {% else %}
    <p>Pomona students, <a href="{% url 'aspc.auth2.views.login' %}?next={{ absolute_uri|urlencode:"" }}">log in</a> to see the financial aid forum.</p>
    <p>5C students, we want you to be able to use this app too, but your ITS departments won't let us grant you access. <a href="http://itattcc.claremont.edu/project/team/">Submit a complaint on this page</a> if you're angry!</p>
    {% endif %}
{% endblock %}
