{% extends 'general/forum_base.html' %}
{% block "content" %}
<div>
	<ul>
		<li>Financial aid website: <a href="https://www.pomona.edu/financial-aid">https://www.pomona.edu/financial-aid</a></li>
		<li>Financial aid handbook: <a href="https://www.pomona.edu/sites/default/files/financial-aid-handbook.pdf">https://www.pomona.edu/sites/default/files/financial-aid-handbook.pdf</a></li>
		<li>Financial aid office email: <a href="mailto:financial.aid@pomona.edu">financial.aid@pomona.edu</a></li>
		<li>Interim director of financial aid email: <a href="mailto:patricia.coye@pomona.edu">patricia.coye@pomona.edu</a></li>
		<li>FAFSA: <a href="https://fafsa.gov">https://fafsa.gov</a></li>
		<li>CSS: <a href="http://css.collegeboard.org">http://css.collegeboard.org</a></li>
	</ul>
</div>
{% endblock %}