{% extends "schedule/schedule.html" %}

{% block "title" %}Saved Schedule{% endblock %}
{% block "page_title" %}Saved Schedule{% endblock %}
{% block "og_title" %}My schedule for next semester at ASPC Course Search{% endblock %}
{% block "og_url" %}{{ schedule.outside_url }}{% endblock %}

{% block "nocompress_js" %}
	{{ block.super }}
	<script type="text/javascript">
		// ASPC namespace
		var ASPC = ASPC || {};

		ASPC.saved_calendar_data = {{ schedule.json_encoded|safe }};
	</script>
{% endblock %}

{% block "courses_breadcrumbs" %}
	<li>Saved Schedule</li>
{% endblock %}

{% block "outer_content" %}
	<div id="schedule_panel" class="panel {% block schedule_panel_class %}{% endblock %}">
		{% include "schedule/schedule_panel.html" %}
	</div>

	<div id="frozen_side_panel">
		<h2 class="header">Schedule information:</h2>
		<h4>Date created:</h4> {{ schedule.create_ts|date:"M n, Y"}} at {{ schedule.create_ts|date:"P" }}
		<br />
		<br />
		<h4>Load these courses for editing:</h4>
			<form action="" method="POST">
				{% csrf_token %}
				<input type="submit" value="load for editing">
			</form>
		<br />
		<br />
		<h4>Export as .ics for Apple or Google Calendar:</h4>
			<button onClick="window.location = '{% url "aspc.courses.views.ical_export" schedule_id=schedule.id %}';">export this schedule</button>
		<br />
		<br />
		<h4>Course list:</h4>
		<br />
		<br />
		<ol class="course_list">
			{% for c in schedule.sections.all %}
				<li class="{% cycle 'odd' 'even' %}">
					{% include "schedule/search/search_result.html" %}
				</li>
			{% endfor %}
		</ol>
	</div>
{% endblock %}
