{% extends "schedule/schedule.html" %}
{% block title %}saved schedule{% endblock %}
{% block og_title %}My schedule for next semester at ASPC Course Search{% endblock %}
{% block og_url %}{{ schedule.outside_url }}{% endblock %}

{% block share_clear %}{% endblock %}

{% block "nocompress_js" %}
	{{ block.super }}
	<script type="text/javascript">
		// ASPC namespace
		var ASPC = ASPC || {};

		ASPC.saved_calendar_data = {{ schedule.json_encoded|safe }};
	</script>
{% endblock %}

{% block side_panel %}
	<div id="side_panel"><div class="content">
	<h3>your schedule:</h3>
	<p>created on {{ schedule.create_ts|date:"M n, Y"}} at {{ schedule.create_ts|date:"P" }}</p>
	<h3>edit:</h3>
	<p>Load these courses for editing. Be sure to get a new link to share your changes.</p>
	<form action="" method="POST">
		{% csrf_token %}
		<p><input type="submit" value="load for editing"></p>
	</form>
	<h3>export:</h3>
	<p>
		<a href="{% url "aspc.courses.views.ical_export" schedule_id=schedule.id %}">export this schedule</a> as .ics for Apple or Google Calendar
	</p>
	</div>
	<ol class="course_list">
		{% for c in schedule.sections.all %}
			<li class="{% cycle 'odd' 'even' %}">
				{% include "includes/search_result.html" %}
			</li>
		{% endfor %}
	</ol>
	</div>
{% endblock %}
