<h2 id="schedule_course_label" class="header">Current schedule:</h2>
<ol id="schedule_courses">
</ol>
<div id="calendar">
	<h2 id="loading_message">Loading...</h2>
	<h2 id="error_message">Error saving calendar data!</h2>
</div>
{% block share_clear %}
	<h4 id="share_clear">
		<a id="clear_schedule" onclick="ASPC.Courses.clearCalendar()">&#x2326; clear schedule</a>
		<a id="download_ical" href="{% url "aspc.courses.views.ical_export" %}">&#11057; export as .ics</a>
		<a id="share_schedule" href="{% url "aspc.courses.views.share_schedule" %}">&#x2191; share schedule</a>
	</h4>
{% endblock %}