{% extends "courses/base.html" %}

{% block "title" %}Search for Courses{% endblock %}
{% block "ogtitle" %}Search for Courses{% endblock %}
{% block "page_title" %}Search for Courses{% endblock %}

{% block "ogdesc" %}
	Search the Claremont Colleges undergraduate schedule by department, meeting times, instructors, and keywords.
{% endblock %}
{% block "metadesc" %}
	Search the Claremont Colleges undergraduate schedule by department, meeting times, instructors, and keywords.
{% endblock %}

{% block "courses_breadcrumbs" %}
<li>
	<a href="{% url "aspc.courses.views.search" %}">Search for Courses</a>
</li>
{% endblock %}

{% block "content" %}
<h4>Fill in at least one field to see matching courses</h4>
<div id="search_container">
	<div id="search_form_container">
		{% include "includes/search_form.html" %}
	</div>
	<div id="search_warning_message">
		<span style="color: blue;">
			There have been confirmed reports that some Spring 2015 course offerings are not being returned by this search.
		</span>
		<br>
		<br>
		<span style="color: red;">
			Be sure to review the schedule on My.Pomona to make sure you have seen all options for your spring course schedule.
		</span>
	</div>
</div>
{% if results %}
	{% include "includes/search_results.html" %}
{% endif %}
{% endblock %}