{% extends 'mentalhealth_base.html' %}

{% block "title" %}Therapist - {% block "subtitle" %}{{ t.name }}{% endblock %}{% endblock %}
{% block "page_title" %} {{ t.name }} {% endblock %}

{% block "mentalhealth_breadcrumbs" %}
    <li><a href="{% url "therapist" t.id %}">{{ t.name }}</a></li>
{% endblock %}


{% block "content" %}
    <div id="therapist_info">
        <p>
            <b>Name</b>: {{ t.name }}
        </p>
        <p>
            <b>Phone</b>: {{ t.phone }}
        </p>
        <p>
            <b>Email</b>: {{ t.email }}
        </p>
        <p>
            <b>Address</b>: {{ t.address }}
        </p>
        <p>
            <b>Website</b>: <a href="{{ t.website }}">{{ t.website }}</a>
        </p>
        <p>
            <b>Insurances</b>: {{ t.insurances.all|join:","  }}
        </p>
        <p>
            <b>Specialties</b>: {{ t.specialties.all|join:","  }}
        </p>
        <p>
            <b>Qualifications</b>: {{ t.qualifications.all|join:","  }}
        </p>
    </div>
    <hr>
    <div id="therapist_reviews">
        {% with t.reviews.all as reviews %}
            {% if reviews %}
                {% for r in t.reviews.all %}
                Here is a review.
                {% endfor %}
            {% else %}
                <p>There isn't any review for {{ t.name }} yet.
                    <a href="{% url 'review_create' %}">
                        Create a new review.
                    </a>
                </p>
            {% endif %}
        {% endwith %}
    </div>

{% endblock %}