{% extends 'mentalhealth/mentalhealth_base.html' %}

{% block "metadesc" %}
	Add a new therapist.
{% endblock %}
{% block "ogdesc" %}
	Add a new therapist.
{% endblock %}

{% block "title" %}Add a New Therapist{% endblock %}
{% block "page_title" %}Add a New Review for {{ form.therapist }}{% endblock %}

{% block "therapists_breadcrumbs" %}
	<li>
		<a href="{% url "search_therapists" %}">Browse and Add Therapists</a>
	</li>
	<li>Add a New Therapist</li>
{% endblock %}

{% block "content" %}
<div id="new_therapist_form">
	<form action="{{ action }}" method="POST">
		{% csrf_token %}
		<ul>
			{{ form.as_ul }}
		</ul>
		<input id="submit" type="submit" value="Submit review &rarr;" />
	</form>
</div>
{% endblock %}