{% extends "base_page.html" %}

{% load staticfiles %}

{% block "page_class" %}sagelist{% endblock %}
{% block "title" %}SageBooks {% block "subtitle" %}{% endblock %}{% endblock %}
{% block "page_title" %}SageBooks Textbook Sales{% endblock %}

{% block "head" %}
	<link rel="stylesheet" type="text/css" href="{% static "css/sagelist/sagelist.css" %}"/>
	{% if is_mobile %}
		<link rel="stylesheet" type="text/css" href="{% static "css/sagelist/sagelist.mobile.css" %}"/>
	{% endif %}
{% endblock %}

{% block "breadcrumbs" %}
<ol class="breadcrumbs">
  <li><a href="{% url "sagelist" %}">SageBooks</a></li>
  {% block "sagelist_breadcrumbs" %}
  {% endblock %}
</ol>
{% endblock %}