{% extends "sagelist/base.html" %}
{% block "title" %}{{ book.title }}{% endblock %}
{% block "breadcrumbs" %}
  <li><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></li>
{% endblock %}
{% block "content" %}
<dl>
  <dt>Title</dt>
  <dd>{{ book.title }}</dd>
  <dt>Author(s)</dt>
  <dd>{{ book.authors }}</dd>
  {% if book.edition %}<dt>Edition</dt>
  <dd>{{ book.edition }}</dd>{% endif %}
  {% if book.isbn %}<dt>ISBN</dt>
  <dd>{{ book.isbn }}</dd>{% endif %}
  <dt>Price</dt>
  <dd>${{ book.price }}</dd>
  <dt>Posted by</dt>
  <dd>{{ book.seller.get_full_name }} on {{ book.posted }}</dd>
  {% if book.buyer %}
  <dt>Purchased by</dt>
  <dd>{{ book.buyer.get_full_name }}</dd>
  {% endif %}
</dl>
<div class="info">
{% block "form" %}
{% if not book.buyer and not book.seller == user %}
  <p><strong>Note:</strong> By clicking "buy this book" you are agreeing to make a purchase. Your 
    name and email will be sent to the seller, and you will receive an email 
    with their contact info.</p>
<form action="." method="POST">
  {% csrf_token %}
  <p><input type="submit" value="Buy this book" id="buy"></p>
</form>
{% endif %}
{% if book.seller == user and not book.buyer %}
{% include "sagelist/booksale_delete_form.html" %}
{% endif %}
{% endblock %}
</div>
{% endblock %}