{% extends "sagelist/base.html" %}
{% block "full_content" %}
<ol class="breadcrumbs">
  <li><a href="{% url "sagelist" %}">SageBooks</a></li>
  <li>Listings for {{ course.code }}</li>
</ol>
<h1>Listings for {{ course.name }}</h1>
<ul class="actions">
  <li><a href="{% url "sagelist_create" %}">List a book for sale</a></li>
</ul>
{% if listings %}
{% include 'sagelist/booksale_table.html' %}
{% else %}
<p class="list_empty content">This course doesn't have any books for sale yet. <a href="{% url "sagelist_create" %}">Post a new one?</a></p>
{% endif %}
{% endblock %}