{% extends "base_page.html" %}

{% load compress %}
{% load staticfiles %}

{% block "ogtitle" %}5C Menu{% endblock %}
{% block "title" %}5C Menu{% endblock %}
{% block "page_title" %}
<span id="desktop_page_title">5C Menu: {{ current_week }}</span>
<span id="mobile_page_title">5C Menu: {{ current_date }}</span>
{% endblock %}

{% block "css" %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/menu/menu.css" %}"/>

  {% if is_mobile %}
  	<link rel="stylesheet" type="text/css" href="{% static "css/menu/menu.mobile.css" %}"/>
  {% endif %}
{% endblock %}