{% extends "menu/home.html" %}

{% block "outer_content" %}
{{ block.super }}
<table id="menu_table">
	<tr id="meal_header">
		<th>Location</th>
		<th>Brunch</th>
		<th>Dinner</th>
	</tr>
	<tr id="frank_menu">
		<th class="pomona_background"><a href="http://www.pomona.edu/administration/dining/menus/frank" target="_blank">Frank</a></th>
		<td>
			<span class="mobile_meal_header">Brunch</span>
			<ul>
				{% if current_day == 'sat' %}
					<li>Closed.</li>
				{% else %}
					{% for item in frank_meals.brunch_items %}
						<li>{{ item }}</li>
					{% endfor %}
				{% endif %}
			</ul>
		</td>
		<td>
			<span class="mobile_meal_header">Dinner</span>
			<ul>
				{% if current_day == 'sat' %}
					<li>Closed.</li>
				{% else %}
					{% for item in frank_meals.dinner_items %}
						<li>{{ item }}</li>
					{% endfor %}
				{% endif %}
			</ul>
		</td>
	</tr>
	<tr id="frary_menu">
		<th class="pomona_background"><a href="http://www.pomona.edu/administration/dining/menus/frary" target="_blank">Frary</a></th>
		<td>
			<span class="mobile_meal_header">Brunch</span>
			<ul>
				{% for item in frary_meals.brunch_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<span class="mobile_meal_header">Dinner</span>
			<ul>
				{% for item in frary_meals.dinner_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
	<tr id="cmc_menu">
		<th class="cmc_background"><a href="http://collins-cmc.cafebonappetit.com/hungry/collins/" target="_blank">CMC</a></th>
		<td>
			<span class="mobile_meal_header">Brunch</span>
			<ul>
				{% for item in cmc_meals.brunch_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<span class="mobile_meal_header">Dinner</span>
			<ul>
				{% for item in cmc_meals.dinner_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
	<tr id="scripps_menu">
		<th class="scripps_background"><a href="https://scrippsdining.sodexomyway.com/dining-choices/index.html" target="_blank">Scripps</a></th>
		<td>
			<span class="mobile_meal_header">Brunch</span>
			<ul>
				{% for item in scripps_meals.brunch_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<span class="mobile_meal_header">Dinner</span>
			<ul>
				{% for item in scripps_meals.dinner_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
	<tr id="pitzer_menu">
		<th class="pitzer_background"><a href="http://pitzer.cafebonappetit.com/" target="_blank">Pitzer</a></th>
		<td>
			<span class="mobile_meal_header">Brunch</span>
			<ul>
				{% for item in pitzer_meals.brunch_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<span class="mobile_meal_header">Dinner</span>
			<ul>
				{% for item in pitzer_meals.dinner_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
	<tr id="mudd_menu">
		<th class="mudd_background"><a href="https://hmc.sodexomyway.com/dining-choices/index.html" target="_blank">Mudd</a></th>
		<td>
			<span class="mobile_meal_header">Brunch</span>
			<ul>
				{% for item in mudd_meals.brunch_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<span class="mobile_meal_header">Dinner</span>
			<ul>
				{% for item in mudd_meals.dinner_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
</table>
{% endblock %}