{% extends "menu/home.html" %}

{% block "outer_content" %}
{{ block.super }}
<table>
	<tr>
		<th></th>
		<th>Breakfast</th>
		<th>Lunch</th>
		<th>Dinner</th>
	</tr>
	<tr>
		<th>Frank</th>
		<td>{{ frank_meals.breakfast.food_items }}</td>
		<td>{{ frank_meals.lunch.food_items }}</td>
		<td>{{ frank_meals.dinner.food_items }}</td>
	</tr>
	<tr>
		<th>Frary</th>
		<td>{{ frary_meals.breakfast.food_items }}</td>
		<td>{{ frary_meals.lunch.food_items }}</td>
		<td>{{ frary_meals.dinner.food_items }}</td>
	</tr>
	<tr>
		<th>Oldenborg</th>
		<td></td>
		<td>{{ oldenborg_meals.lunch.food_items }}</td>
		<td></td>
	</tr>
	<tr>
		<th>CMC</th>
		<td>{{ cmc_meals.breakfast.food_items }}</td>
		<td>{{ cmc_meals.lunch.food_items }}</td>
		<td>{{ cmc_meals.dinner.food_items }}</td>
	</tr>
	<tr>
		<th>Scripps</th>
		<td>{{ scripps_meals.breakfast.food_items }}</td>
		<td>{{ scripps_meals.lunch.food_items }}</td>
		<td>{{ scripps_meals.dinner.food_items }}</td>
	</tr>
	<tr>
		<th>Pitzer</th>
		<td>{{ pitzer_meals.breakfast.food_items }}</td>
		<td>{{ pitzer_meals.lunch.food_items }}</td>
		<td>{{ pitzer_meals.dinner.food_items }}</td>
	</tr>
	<tr>
		<th>Mudd</th>
		<td>{{ mudd_meals.breakfast.food_items }}</td>
		<td>{{ mudd_meals.lunch.food_items }}</td>
		<td>{{ mudd_meals.dinner.food_items }}</td>
	</tr>
</table>
{% endblock %}