{% extends "menu/home.html" %}
{% load menu_tag %}
{% block "outer_content" %}
{{ block.super }}
<table id="menu_table">
	<tr id="meal_header">
		<th>Location</th>
		<th>Brunch</th>
		<th>Dinner</th>
	</tr>
	<tr id="frank_menu">
		<th class="pomona_background"><a href="http://www.pomona.edu/administration/dining/menus/frank" target="_blank">Frank</a></th>
		<td>
			<span class="mobile_meal_header">Brunch</span>
			{% if current_day == 'sat' %}
				<ul>Closed.</ul>
			{% else %}
				{% regroup frank_meals.brunch_items|dictsort:"station" by station as station_list %}
				<DL>
					{% for station in station_list %}
						<DT><b>{{station.grouper}}</b>
						{% for food_item in station.list%}
							<DD><li image_url="{{ item.image_url }}">{{ food_item.name}}</li>
						{% endfor %}
					{% endfor %}
				</DL>
			{% endif %}
		</td>
		<td>
			<span class="mobile_meal_header">Dinner</span>
			{% if current_day == 'sat' %}
				<ul>Closed.</ul>
			{% else %}
				{% regroup frank_meals.dinner_items|dictsort:"station" by station as station_list %}
				<DL>
					{% for station in station_list %}
						<DT><b>{{station.grouper}}</b>
						{% for food_item in station.list%}
							<DD><li image_url="{{ item.image_url }}">{{ food_item.name}}</li>
						{% endfor %}
					{% endfor %}
				</DL>
			{% endif %}
		</td>
	</tr>
	<tr id="frary_menu">
		<th class="pomona_background"><a href="http://www.pomona.edu/administration/dining/menus/frary" target="_blank">Frary</a></th>
		<td>
			<span class="mobile_meal_header">Brunch</span>
			{% regroup frary_meals.brunch_items|dictsort:"station" by station as station_list %}
			<DL>
				{% for station in station_list %}
					<DT><b>{{station.grouper}}</b>
					{% for food_item in station.list%}
						<DD><li image_url="{{ item.image_url }}">{{ food_item.name}}</li>
					{% endfor %}
				{% endfor %}
			</DL>
		</td>
		<td>
			<span class="mobile_meal_header">Dinner</span>
			{% regroup frary_meals.dinner_items|dictsort:"station" by station as station_list %}
			<DL>
				{% for station in station_list %}
					<DT><b>{{station.grouper}}</b>
					{% for food_item in station.list%}
						<DD><li image_url="{{ item.image_url }}">{{ food_item.name}}</li>
					{% endfor %}
				{% endfor %}
			</DL>
		</td>
	</tr>
	<tr id="cmc_menu">
		<th class="cmc_background"><a href="http://collins-cmc.cafebonappetit.com/hungry/collins/" target="_blank">CMC</a></th>
		<td>
			<span class="mobile_meal_header">Brunch</span>
			{% regroup cmc_meals.brunch_items|dictsort:"station" by station as station_list %}
			<DL>
				{% for station in station_list %}
					<DT><b>{{station.grouper}}</b>
					{% for food_item in station.list%}
						<DD><li image_url="{{ item.image_url }}">{{ food_item.name}}</li>
					{% endfor %}
				{% endfor %}
			</DL>
		</td>
		<td>
			<span class="mobile_meal_header">Dinner</span>
			{% regroup cmc_meals.dinner_items|dictsort:"station" by station as station_list %}
			<DL>
				{% for station in station_list %}
					<DT><b>{{station.grouper}}</b>
					{% for food_item in station.list%}
						<DD><li image_url="{{ item.image_url }}">{{ food_item.name}}</li>
					{% endfor %}
				{% endfor %}
			</DL>
		</td>
	</tr>
	<tr id="scripps_menu">
		<th class="scripps_background"><a href="https://scrippsdining.sodexomyway.com/dining-choices/index.html" target="_blank">Scripps</a></th>
		<td>
			<span class="mobile_meal_header">Brunch</span>
			{% regroup scripps_meals.brunch_items|dictsort:"station" by station as station_list %}
			<DL>
				{% for station in station_list %}
					<DT><b>{{station.grouper}}</b>
					{% for food_item in station.list%}
						<DD><li image_url="{{ item.image_url }}">{{ food_item.name}}</li>
					{% endfor %}
				{% endfor %}
			</DL>
		</td>
		<td>
			<span class="mobile_meal_header">Dinner</span>
			{% regroup scripps_meals.dinner_items|dictsort:"station" by station as station_list %}
			<DL>
				{% for station in station_list %}
					<DT><b>{{station.grouper}}</b>
					{% for food_item in station.list%}
						<DD><li image_url="{{ item.image_url }}">{{ food_item.name}}</li>
					{% endfor %}
				{% endfor %}
			</DL>
		</td>
	</tr>
	<tr id="pitzer_menu">
		<th class="pitzer_background"><a href="http://pitzer.cafebonappetit.com/" target="_blank">Pitzer</a></th>
		<td>
			<span class="mobile_meal_header">Brunch</span>
			{% regroup pitzer_meals.brunch_items|dictsort:"station" by station as station_list %}
			<DL>
				{% for station in station_list %}
					<DT><b>{{station.grouper}}</b>
					{% for food_item in station.list%}
						<DD><li image_url="{{ item.image_url }}">{{ food_item.name}}</li>
					{% endfor %}
				{% endfor %}
			</DL>
		</td>
		<td>
			<span class="mobile_meal_header">Dinner</span>
			{% regroup pitzer_meals.dinner_items|dictsort:"station" by station as station_list %}
			<DL>
				{% for station in station_list %}
					<DT><b>{{station.grouper}}</b>
					{% for food_item in station.list%}
						<DD><li image_url="{{ item.image_url }}">{{ food_item.name}}</li>
					{% endfor %}
				{% endfor %}
			</DL>
		</td>
	</tr>
	<tr id="mudd_menu">
		<th class="mudd_background"><a href="https://hmc.sodexomyway.com/dining-choices/index.html" target="_blank">Mudd</a></th>
		<td>
			<span class="mobile_meal_header">Brunch</span>
			{% regroup mudd_meals.brunch_items|dictsort:"station" by station as station_list %}
			<DL>
				{% for station in station_list %}
					<DT><b>{{station.grouper}}</b>
					{% for food_item in station.list%}
						<DD><li image_url="{{ item.image_url }}">{{ food_item.name}}</li>
					{% endfor %}
				{% endfor %}
			</DL>
		</td>
		<td>
			<span class="mobile_meal_header">Dinner</span>
			{% regroup mudd_meals.dinner_items|dictsort:"station" by station as station_list %}
			<DL>
				{% for station in station_list %}
					<DT><b>{{station.grouper}}</b>
					{% for food_item in station.list%}
						<DD><li image_url="{{ item.image_url }}">{{ food_item.name}}</li>
					{% endfor %}
				{% endfor %}
			</DL>
		</td>
	</tr>
</table>
{% endblock %}