{% extends "menu/home.html" %}

{% block "outer_content" %}
{{ block.super }}
<table id="menu_table">
	<tr>
		<th>Location</th>
		<th>Breakfast</th>
		<th>Lunch</th>
		<th>Dinner</th>
	</tr>
	<tr id="frank_menu">
		<th class="frank_background"><a href="http://www.pomona.edu/administration/dining/menus/frank.aspx">Frank</a></th>
		<td>
			<ul>
				{% for item in frank_meals.breakfast_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<ul>
				{% for item in frank_meals.lunch_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<ul>
				{% for item in frank_meals.dinner_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
	<tr id="frary_menu">
		<th class="frary_background"><a href="http://www.pomona.edu/administration/dining/menus/frary.aspx">Frary</a></th>
		<td>
			<ul>
				{% for item in frary_meals.breakfast_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<ul>
				{% for item in frary_meals.lunch_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<ul>
				{% for item in frary_meals.dinner_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
	<tr id="oldenborg_menu">
		<th class="oldenborg_background"><a href="http://www.pomona.edu/administration/dining/menus/oldenborg.aspx">Oldenborg</a></th>
		<td>No menu.</td>
		<td>
			<ul>
				{% for item in oldenborg_meals.lunch_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>No menu.</td>
	</tr>
	<tr id="cmc_menu">
		<th class="cmc_background"><a href="http://collins-cmc.cafebonappetit.com/hungry/collins/">CMC</a></th>
		<td>
			<ul>
				{% for item in cmc_meals.breakfast_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<ul>
				{% for item in cmc_meals.lunch_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<ul>
				{% for item in cmc_meals.dinner_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
	<tr id="scripps_menu">
		<th class="scripps_background"><a href="http://www.scrippscollege.edu/students/dining-services/">Scripps</a></th>
		<td>
			<ul>
				{% for item in scripps_meals.breakfast_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<ul>
				{% for item in scripps_meals.lunch_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<ul>
				{% for item in scripps_meals.dinner_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
	<tr id="pitzer_menu">
		<th class="pitzer_background"><a href="http://pitzer.cafebonappetit.com/">Pitzer</a></th>
		<td>
			<ul>
				{% for item in frank_meals.breakfast_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<ul>
				{% for item in frank_meals.lunch_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<ul>
				{% for item in frank_meals.dinner_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
	<tr id="mudd_menu">
		<th class="mudd_background"><a href="http://www.hmcdining.com/dining/index.html">Mudd</a></th>
		<td>
			<ul>
				{% for item in mudd_meals.breakfast_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<ul>
				{% for item in mudd_meals.lunch_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<ul>
				{% for item in mudd_meals.dinner_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
</table>
{% endblock %}