{% extends "menu/home.html" %}

{% block "outer_content" %}
{{ block.super }}
<table id="menu_table">
	<tr id="meal_header">
		<th>Location</th>
		<th>Breakfast</th>
		<th>Lunch</th>
		<th>Dinner</th>
	</tr>
	<tr id="frank_menu">
		<th class="pomona_background"><a href="http://www.pomona.edu/administration/dining/menus/frank.aspx" target="_blank">Frank</a></th>
		<td>
			<span class="mobile_meal_header">Breakfast</span>
			<ul>
				{% if current_day == 'fri' %}
					<li>Closed.</li>
				{% else %}
					{% for item in frank_meals.breakfast_items %}
						<li>{{ item }}</li>
					{% endfor %}
				{% endif %}
			</ul>
		</td>
		<td>
			<span class="mobile_meal_header">Lunch</span>
			<ul>
				{% if current_day == 'fri' %}
					<li>Closed.</li>
				{% else %}
					{% for item in frank_meals.lunch_items %}
						<li>{{ item }}</li>
					{% endfor %}
				{% endif %}
			</ul>
		</td>
		<td>
			<span class="mobile_meal_header">Dinner</span>
			<ul>
				{% if current_day == 'fri' %}
					<li>Closed.</li>
				{% else %}
					{% for item in frank_meals.dinner_items %}
						<li>{{ item }}</li>
					{% endfor %}
				{% endif %}
			</ul>
		</td>
	</tr>
	<tr id="frary_menu">
		<th class="pomona_background"><a href="http://www.pomona.edu/administration/dining/menus/frary.aspx" target="_blank">Frary</a></th>
		<td>
			<span class="mobile_meal_header">Breakfast</span>
			<ul>
				{% for item in frary_meals.breakfast_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<span class="mobile_meal_header">Lunch</span>
			<ul>
				{% for item in frary_meals.lunch_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<span class="mobile_meal_header">Dinner</span>
			<ul>
				{% for item in frary_meals.dinner_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
	<tr id="oldenborg_menu">
		<th class="pomona_background"><a href="http://www.pomona.edu/administration/dining/menus/oldenborg.aspx" target="_blank">Oldenborg</a></th>
		<td>
			<span class="mobile_meal_header">Breakfast</span>
			<ul>
				<li>Closed.</li>
			</ul>
		</td>
		<td>
			<span class="mobile_meal_header">Lunch</span>
			<ul>
				{% for item in oldenborg_meals.lunch_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<span class="mobile_meal_header">Dinner</span>
			<ul>
				<li>Closed.</li>
			</ul>
		</td>
	</tr>
	<tr id="cmc_menu">
		<th class="cmc_background"><a href="http://collins-cmc.cafebonappetit.com/hungry/collins/" target="_blank">CMC</a></th>
		<td>
			<span class="mobile_meal_header">Breakfast</span>
			<ul>
				{% for item in cmc_meals.breakfast_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<span class="mobile_meal_header">Lunch</span>
			<ul>
				{% for item in cmc_meals.lunch_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<span class="mobile_meal_header">Dinner</span>
			<ul>
				{% for item in cmc_meals.dinner_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
	<tr id="scripps_menu">
		<th class="scripps_background"><a href="http://www.scrippscollege.edu/students/dining-services/" target="_blank">Scripps</a></th>
		<td>
			<span class="mobile_meal_header">Breakfast</span>
			<ul>
				{% for item in scripps_meals.breakfast_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<span class="mobile_meal_header">Lunch</span>
			<ul>
				{% for item in scripps_meals.lunch_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<span class="mobile_meal_header">Dinner</span>
			<ul>
				{% for item in scripps_meals.dinner_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
	<tr id="pitzer_menu">
		<th class="pitzer_background"><a href="http://pitzer.cafebonappetit.com/" target="_blank">Pitzer</a></th>
		<td>
			<span class="mobile_meal_header">Breakfast</span>
			<ul>
				{% for item in pitzer_meals.breakfast_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<span class="mobile_meal_header">Lunch</span>
			<ul>
				{% for item in pitzer_meals.lunch_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<span class="mobile_meal_header">Dinner</span>
			<ul>
				{% for item in pitzer_meals.dinner_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
	<tr id="mudd_menu">
		<th class="mudd_background"><a href="http://www.hmcdining.com/dining/index.html" target="_blank">Mudd</a></th>
		<td>
			<span class="mobile_meal_header">Breakfast</span>
			<ul>
				{% for item in mudd_meals.breakfast_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<span class="mobile_meal_header">Lunch</span>
			<ul>
				{% for item in mudd_meals.lunch_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
		<td>
			<span class="mobile_meal_header">Dinner</span>
			<ul>
				{% for item in mudd_meals.dinner_items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
</table>
{% endblock %}