{% extends "menu/home.html" %}

{% block "outer_content" %}
{{ block.super }}
<table>
	<tr>
		<th></th>
		<th>Brunch</th>
		<th>Dinner</th>
	</tr>
	<tr>
		<th>Frank</th>
		<td>{{ frank_meals.brunch.food_items }}</td>
		<td>{{ frank_meals.dinner.food_items }}</td>
	</tr>
	<tr>
		<th>Frary</th>
		<td>{{ frary_meals.brunch.food_items }}</td>
		<td>{{ frary_meals.dinner.food_items }}</td>
	</tr>
	<tr>
		<th>CMC</th>
		<td>{{ cmc_meals.brunch.food_items }}</td>
		<td>{{ cmc_meals.dinner.food_items }}</td>
	</tr>
	<tr>
		<th>Scripps</th>
		<td>{{ scripps_meals.brunch.food_items }}</td>
		<td>{{ scripps_meals.dinner.food_items }}</td>
	</tr>
	<tr>
		<th>Pitzer</th>
		<td>{{ pitzer_meals.brunch.food_items }}</td>
		<td>{{ pitzer_meals.dinner.food_items }}</td>
	</tr>
	<tr>
		<th>Mudd</th>
		<td>{{ mudd_meals.brunch.food_items }}</td>
		<td>{{ mudd_meals.dinner.food_items }}</td>
	</tr>
</table>
{% endblock %}