/*Special case for Amazon link w/ tracking img*/

@media handheld, only screen and (max-width: 767px) {

	#amazon_link img {
		float: left;
	}

	nav#sitewide .group {
		display: none;
	}

	nav#sitewide.all .group {
		display: block;
	}

	nav#sitewide .group.active {
		display: block;
	}

	nav#sitewide a {
		font-size: 1.2em;
	}

	nav#sitewide a:hover {
		color: inherit;
		text-decoration: inherit;
	}

	nav#sitewide li ul li {
		margin-bottom: 0;
	}

	nav#sitewide.secondary .group {
		padding: 0;
	}

	nav#sitewide h1 {
		margin: 0;
		font-size: 0.9em;
	}

	nav#sitewide .group#food h1 {
		background-color: #2e735e;
		border: 1px solid #388c73;

	}

	nav#sitewide .group#services h1 {
		background-color: #627d48;
		border: 1px solid #759657;
	}

	nav#sitewide .group#information h1 {
		background-color: #99851f;
		border: 1px solid #b39b24;
	}

	nav#sitewide .group#senate h1 {
		background-color: #ab7537;
		border: 1px solid #c4863f;
	}

	nav#sitewide .group#partners h1 {
		background-color: #8a4547;
		border: 1px solid #a35254;
	}

}