{% extends "folio/page.html" %}

{% extends "base_page.html" %}

{% load staticfiles %}

{% block "page_class" %}senators{% endblock %}

{% block "title" %}Senators{% endblock %}
{% block "page_title" %}Senators{% endblock %}

{% block "head" %}
  <link rel="stylesheet" type="text/css" href="{% static "css/senate/senators.css" %}"/>
{% endblock %}

{% block "breadcrumbs" %}
<ol class="breadcrumbs">
  <li><a href="/senate/">Senate</a></li>
  <li><a href="{% url "positions" %}">Senators</a></li>
</ol>
{% endblock %}

{% block "content" %}
{% if appointments %}
<ol>
{% for app in appointments %}
  <li class="senator">
    <hgroup>
      <h2>{{ app.name }}, {{ app.position.title }}</h2>
      {% if app.position.email %}<h4 class="email"><a href="mailto:{{ app.position.email }}">{{ app.position.email }}</a></h4>{% endif %}
    </hgroup>
    {% if app.bio %}
        {{ app.bio|linebreaks }}
    {% endif %}
  </li>
{% endfor %}
</ol>
{% else %}
<p>There are no senators currently appointed.</p>
{% endif %}
{% endblock %}
