{% extends "folio/page.html" %}

{% load staticfiles %}

{% block "page_class" %}positions{% endblock %}

{% block "title" %}Positions{% endblock %}
{% block "page_title" %}Positions{% endblock %}

{% block "css" %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/senate/positions.css" %}"/>
{% endblock %}

{% block "breadcrumbs" %}
<ol class="breadcrumbs">
  <li><a href="/senate/">Senate</a></li>
  <li><a href="{% url "positions" %}">Positions</a></li>
</ol>
{% endblock %}

{% block "content" %}
{% if positions %}
<ol>
{% for p in positions %}
  <li class="position">
    <hgroup>
      <h2>{{ p.title }}</h2>
    </hgroup>
    {{ p.description|linebreaks }}
  </li>
{% endfor %}
</ol>
{% else %}
<p>There are no positions currently listed.</p>
{% endif %}
{% endblock %}
