{% extends "coursesearch/base.html" %}

{% block "title" %}{{ object.code }} &mdash; {{ object.name }}{% endblock %}
{% block "ogtitle" %}{{ object.code }} &mdash; {{ object.name }}{% endblock %}
{% block "page_title" %}{{ object.code }} &mdash; {{ object.name }}{% endblock %}

{% block "ogdesc" %}{% if object.description %}{{ object.description }}{% else %}{{ object.name }} taught by {{ object.instructor }}{% endif %}{% endblock %}
{% block "metadesc" %}{% if object.description %}{{ object.description }}{% else %}{{ object.code }} &mdash; {{ object.name }} taught by {{ object.instructor }}{% endif %}{% endblock %}

{% block "coursesearch_breadcrumbs" %}
<li><a href="{{ object.primary_department.get_absolute_url }}">{{ object.primary_department.name }}</a></li>
<li>{{ object.code }}</li>
{% endblock %}

{% block "content" %}
<p class="info_line">{{ object.instructor }} &mdash; <strong>credit:</strong> {{ object.credit }} &mdash; {{ object.spots }} spots</p>
<p class="info_line"><strong>department{% if object.departments.count > 1 %}s{% endif %}:</strong> {% for d in object.departments.all %} {{ d.non_breaking_name|safe }}{% if forloop.revcounter0 != 0 %}, {% endif %}{% endfor %}</p>
<p>{{ object.grading_style }}</p>
<p>{{ object.note|linebreaksbr }}</p>
{% if object.description %}<p>{{ object.description|linebreaksbr }}</p>{% endif %}
<h4>meetings:</h4>
{% for mtg in object.meeting_set.all %}
<li class="meeting"><span class="campus_icon campus_{{ mtg.get_campus }}">{{ mtg.get_campus }}</span> &mdash; {% for day in mtg.gen_days %}<span class="day_{{day}}">{{ day }}</span>{% endfor %} 
	&mdash; {{ mtg.begin }}&ndash;{{ mtg.end }} &mdash; {{ mtg.location }}
</li>
{% endfor %}
{% endblock %}