{% extends "coursesearch/base.html" %}

{% load staticfiles %}

{% block "title" %}Schedule{% endblock %}
{% block "page_title" %}Schedule{% endblock %}
{% block og_url %}http://aspc.pomona.edu/courses/schedule/{% endblock %}
{% block "head" %}
    {{ block.super }}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>\
    <script type="text/javascript" src="{% static "js/date.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.weekcalendar.js" %}"></script>
    <script type="text/javascript" src="{% static "js/course_calendar.js" %}"></script>
    <script type="text/javascript" charset="utf-8">
    {% block startup_script %}
    var die = false;
    if (jQuery.browser.msie) {
      var IEv = parseInt(jQuery.browser.version);
      if (IEv <= 7) {
        var die = true;
      }
    }
    if (die == false){
      jQuery(document).ready(function() {
        $('#message').remove();
        init();
        loadCalendar();
      });
    }
    {% endblock %}
    </script>
{% endblock %}

{% block "css" %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/coursesearch/smoothness/jquery-ui.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/coursesearch/jquery.weekcalendar.css" %}"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/coursesearch/calendar.css" %}"/>
{% endblock %}

{% block "content_class" %}{{ block.super }} wide{% endblock %}

{% block "coursesearch_breadcrumbs" %}
  <li><a href="{% url "aspc.coursesearch.views.schedule" %}">Schedule</a></li>
{% endblock %}

{% block "outer_content" %}
<div id="schedule_panel" class="panel {% block schedule_panel_class %}{% endblock %}">
  <h2 id="schedule_course_label" class="header">your courses:</h2>
  <ol id="schedule_courses">
  </ol>
  {% block share_clear %}<h4 id="share_clear"><a id="share_schedule" href="{% url "aspc.coursesearch.views.share_schedule" %}">&#x2191; share</a><a id="download_ical" href="{% url "aspc.coursesearch.views.ical_export" %}">export to calendar</a><a id="clear_schedule">&#x2326; clear</a></h4>{% endblock %}
  <div id="calendar"><h2 id="message">Loading...</h2></div>
</div>
{% block side_panel %}
  <div id="side_panel" class="panel">
    <h2 class="header">search:</h2>
    {% with "schedule" as context %}
    {% include "coursesearch/search_form.html" %}
    {% if results %}
      {% include "coursesearch/search_results.html" %}
    {% endif %}
    {% endwith %}
  </div>
{% endblock %}
{% endblock %}