{% extends "coursesearch/schedule.html" %}
{% block title %}saved schedule{% endblock %}
{% block og_title %}My schedule for next semester at Our Pomona{% endblock %}
{% block og_url %}{{ schedule.outside_url }}{% endblock %}
{% block startup_script %}
	var die = false;
	if (jQuery.browser.msie) {
		var IEv = parseInt(jQuery.browser.version);
		if (IEv <= 7) {
			var die = true;
		}
	}
	if (die == false){
		$(document).ready(function() {
			$('#message').remove();
			init();
			loadSavedCalendar({{ schedule.json_encoded|safe }});
		});
	}
{% endblock %}
{% block share_clear %}{% endblock %}


{% block side_panel %}
<div id="side_panel"><div class="inner">
<h3>your schedule:</h3>
<p>created on {{ schedule.create_ts|date:"M n, Y"}} at {{ schedule.create_ts|date:"P" }}</p>
<h3>edit:</h3>
<p>loading this schedule for editing will replace your current course choices with these.
if you make changes, you will have to share them again and get a new link.</p>
<form action="" method="POST">
	{% csrf_token %}
	<p><input type="submit" value="load"></p>
</form>
<ol class="course_list">
{% for c in schedule.courses.all %}
	<li class="{% cycle 'odd' 'even' %}">
		{% include "coursesearch/course_list_item.html" %}
	</li>
{% endfor %}
</ol>
</div></div>
{% endblock %}
