<div id="search_form">
<form action="" method="GET">
	{{ form.non_field_errors }}
	<p>in the {{ form.department }} department</p>
	<p>satisfying the {{ form.requirement_area }} requirement</p>
	<p>meets {{ form.only_at_least }} on {{ form.m }} 
		Mon, {{ form.t }} Tues, {{ form.w }} Wed, {{ form.r }} Thurs, {{ form.f }} Fri</p>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;after {{ form.start_range }}{% if form.start_range.errors %}<span class="error">X</span>{% endif %} 
		and before {{ form.end_range }}{% if form.end_range.errors %}<span class="error">X</span>{% endif %} <span class="helptext">(ex: 1:00pm)</span></p>
	<p id="campus_icons">at 
	  {{ form.c_po }} <span class="campus_icon campus_PO">PO</span>
	  {{ form.c_sc }} <span class="campus_icon campus_SC">SC</span>
		{{ form.c_cm }} <span class="campus_icon campus_CMC">CMC</span>
		{{ form.c_hm }} <span class="campus_icon campus_HM">HM</span>
		{{ form.c_pz }} <span class="campus_icon campus_PZ">PZ</span>
		{{ form.c_cu }} <span class="campus_icon campus_CU">CU</span>
		{{ form.c_cgu }} <span class="campus_icon campus_CGU">CGU</span>
	</p>
	<p>numbered &ge; {{ form.course_number_min }} and &le; {{ form.course_number_max }} </p>
	<p>taught by {{ form.instructor }} for {{ form.credit }} credit</p>
	<p>with the keywords {{ form.keywords }}</p>
  <p>including only courses with seats available {{ form.spots_left }}</p>
  <div id="update_info">
    <dl>
      <dt>Last full update</dt>
      <dd>{% if last_full %}{{ last_full.last_refresh_date }}{% else %}None yet{% endif %}</dd>
      <dt>Last enrollment numbers update</dt>
      <dd>{% if last_reg %}{{ last_reg.last_refresh_date }}{% else %}None yet{% endif %}</dd>
    </dl>
    <p><em>Enrollment numbers are updated hourly, and the full schedule is updated daily.</em></p>
  </div>
	<input id="submit" type="submit" value="go">{% if context == "schedule" %}<a href="{% url aspc.coursesearch.views.schedule %}" id="reset">clear search</a>{% else %}<a href="{% url aspc.coursesearch.views.search %}" id="reset">start over</a>{% endif %}
</form>
</div>
