{% extends "coursesearch/base.html" %}

{% block "title" %}{% if not saved %}Share This Schedule{% else %}Schedule Saved{% endif %}{% endblock %}
{% block "ogtitle" %}{% if not saved %}Share This Schedule{% else %}Schedule Saved{% endif %}{% endblock %}
{% block "page_title" %}{% if not saved %}Share This Schedule{% else %}Schedule Saved{% endif %}{% endblock %}

{% block "ogdesc" %}Save a schedule made with the ASPC schedule builder to share it on Facebook or by email.{% endblock %}
{% block "metadesc" %}Save a schedule made with the ASPC schedule builder to share it on Facebook or by email.{% endblock %}

{% block "coursesearch_breadcrumbs" %}
  <li><a href="{% url aspc.coursesearch.views.schedule %}">Schedule</a></li>
  <li>Share</li>
{% endblock %}

{% block "content" %}
{% if schedule_courses %}
<ul>
{% for course in schedule_courses %}
	<li>{{ course.code }} &mdash; {{ course.name }}</li>
{% endfor %}
</ul>
	{% if not saved %}
	<form action="" method="POST">
		{% csrf_token %}
		<p>Once you click submit, you will get a link to this schedule that you can share on Facebook or in an email. You'll also get a link to download your schedule for use in Google Calendar or iCal.</p>
		<p>The same link works to get your saved schedule back and add to it later.</p>
		<input type="submit" value="Save Schedule">
	</form>
	{% else %}
	<h3>To send this schedule to someone, use the link below:</h3>
	<p><a href="{{ protocol }}://{{ domain }}{% if port %}:{{ port }}{% endif %}{{ schedule.get_absolute_url }}">{{ protocol }}://{{ domain }}{% if port %}:{{ port }}{% endif %}{{ schedule.get_absolute_url }}</a></p>
	<p>To come back and add to this schedule later, use the "load" link on that page.</p>
	<h3>To download this schedule, use the link below:</h3>
	<p><a href="{{ protocol }}://{{ domain }}{% if port %}:{{ port }}{% endif %}{% url aspc.coursesearch.views.ical_from_schedule schedule_id=schedule.id %}">{{ protocol }}://{{ domain }}{% if port %}:{{ port }}{% endif %}{% url aspc.coursesearch.views.ical_from_schedule schedule_id=schedule.id %}</a></p>
	<p>Drop the downloaded file on the iCal application icon to import, or read <a href="http://support.google.com/calendar/bin/answer.py?hl=en&answer=37118">how to import into Google Calendar</a></p>
	{% endif %}
{% else %}
<h3>There don't seem to be any courses in your schedule.</h3>
{% endif %}
{% endblock %}