{% extends "base_page.html" %}
{% load url from future %}
{% block "page_title" %}Log In{% endblock %}
{% block "content" %}
<p>Use your Pomona Campus username and password to log in.</p>
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url "login" %}">
{% csrf_token %}
<ul>
  <li>{{ form.username.errors }}{{ form.username.label_tag }}{{ form.username }}</li>
  <li>{{ form.password.errors }}{{ form.password.label_tag }}{{ form.password }}</li>
  <li><input type="submit" value="login" /></li>
</ul>

<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}