{% load markup %}
{% load pages %}
<h1>{{ title }}</h1>
{% breadcrumbs_list page as breadcrumbs %}
<ol>
{% for b in breadcrumbs %}
<li>{{ b }}</li>
{% endfor %}
</ol>
{{ body|markdown }}

<ol>
{% for child in page.page_set.all %}
  <li>{{ child }}</li>
{% endfor %}
</ol>

{% root_navigation_list as navigation %}
<ol>
{% for n in navigation %}
<li><a href="{{ n.get_absolute_url }}">{{ n.0 }}</a>
  {% if n.1 %}
  <ol>
    {% for sub in n.1 %}
    <li><a href="{{ sub.get_absolute_url }}">{{ sub }}</a></li>
    {% endfor %}
  </ol>
  {% endif %}
</li>
{% endfor %}
</ol>
