{% extends 'general/forum_base.html' %}
{% block "content" %}
<div>
<nav>
	<ul id="home" class="listview">
		<li><a href="{% url "new_question" %}">Ask a question</a></li>
	</ul>
</nav>
	{% if questions % }

		<p>
			<h4>All Questions:</h4>
		</p>
		{% for q in questions %}
                    <hr/>
            <div>
            	<a href="{% url 'question' q.id %}">{{q.title}}</a>
				<strong>Posted on:</strong> {{ q.created_ts|date:"F d, Y" }}
			<br />
			</div>
        {% endfor %}
    {% else % }
    	<p>No questions yet</p>
    {% endif %}

</div>
{% endblock %}
   