{% load stars %}
<div id="review-div">
        <h4>Student Reviews</h4>
        {% if reviews %}
            <strong>average rating: </strong>
                {{ rating | star}} ({{ rating | floatformat:2}})
        {% endif %}
        <div id="review-head">
            {% if reviews %}
                <div id="barplot"><canvas id="myChart" width="200" height="200"></canvas></div>
            {% endif %}
            <div id="new-review-div">
                Share your thoughts with other students.<br>
                <button class="btn btn-default btn-primary" id="new-review-button">Write a new review</button>
            </div>
        </div>
        {% if reviews %}
            <div id="review-list">
            {% for review in reviews %}
                {% include "reviews/review_list_item.html" %}
            {% endfor %}
            </div>
        {% endif %}
</div>