{% extends "courses/base.html" %}

{% block "metadesc" %}
	Read and write reviews for courses that you've taken.
{% endblock %}
{% block "ogdesc" %}
	Read and write reviews for courses that you've taken.
{% endblock %}

{% block "title" %}Add a New Review{% endblock %}
{% block "page_title" %}Add a New Review for {{ form.course }}{% endblock %}

{% block "courses_breadcrumbs" %}
	<li>
		<a href="{% url "search_reviews" %}">Browse and Add Course Reviews</a>
	</li>
	<li>Add a New Review</li>
{% endblock %}

{% block "content" %}
<p>
When writing reviews, please note that:
	<ul>
		<li>Not all questions are applicable to all courses</li>
		<li>No identifying information will be attached to your response, but your comments are viewable by any current Pomona student.</li>
		<li>You have the option of removing your review in the future.</li>
	</ul>
	<br>
	When reading reviews, please note that students of backgrounds (including identities
	and experiences with the course content) take and evaluate this course.
</p>
<div id="new_review_form">
	<form action="{{ action }}" method="POST">
		{% csrf_token %}
		<ul>
			{{ form.as_ul }}
		</ul>
		<input id="submit" type="submit" value="Submit review &rarr;" />
	</form>
</div>
{% endblock %}
