{% extends 'base_page.html' %}

{% load staticfiles %}

{% block "head" %}
	<link rel="stylesheet" type="text/css" href="{% static "css/housing.css" %}" media="screen"/>
{% endblock %}

{% block "page_class" %}housing{% endblock %}

{% block "title" %}Housing Reviews{% endblock "title" %}

{% block "breadcrumbs" %}
<ol class="breadcrumbs">
  <li><a href="{% url "housing_home" %}">Housing Search</a></li>
  {% block "housing_breadcrumbs" %}
  {% endblock %}
</ol>
{% endblock %}
{% block "page_title" %}{{ title }}{% endblock %}

{% block "actions" %}
{% endblock %}