{% extends 'base.html' %}

{% block top_title %}Housing Reviews{% endblock top_title %}

{% block subsite_link %}{% url housing_home %}{% endblock subsite_link %}
{% block subsite_title %}housing reviews{% endblock subsite_title %}

{% block nav %}
	<li{% if browse_active %} class="active"{% endif %}><a href="{% url housing_browse %}">browse housing &rarr;</a></li>
	<li{% if search_active %} class="active"{% endif %}><a href="{% url housing_search %}">search for rooms &rarr;</a></li>
	<li{% if review_active %} class="active"{% endif %}><a href="{% url housing_review %}">review your room &rarr;</a></li>
{% endblock nav %}