{% extends "admin/base_site.html" %}

{% block title %}Reviews Raffle{% endblock %}

{% block content_title %}
    <h1>Reviews Raffle</h1>
{% endblock %}

{% block content %}
    <p>
      Provide a range of dates and return one or more randomly selected
      reviewers. Each review submitted in the date range counts as a single
      raffle entry.
    </p>

    <form method="GET" action=".">
      {{ form.as_p }}
      <input type="submit" value="Run Raffle"><br><br>
    </form>
    {% if winner_reviews %}
    <ul>
        {% for review in winner_reviews %}
        <li>{{ review.author.get_full_name }} (<a href="mailto:{{ review.author.email }}">{{ review.author.email }}</a>)
        {{ review }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock content %}