{% extends "admin/base_site.html" %}
{% load url from future %}


{% block breadcrumbs %}
    {% if not is_popup %}
        <ul class="grp-horizontal-list">
            <li><a href="../../../">Home</a></li>
            <li><a href="../../">Housing</a></li>
            <li><a href="../">Reviews</a></li>
            <li>Housing Reviews Raffle</li>
        </ul>
    {% endif %}
{% endblock %}

{% block title %}Housing Reviews Raffle{% endblock %}

{% block content_title %}
    <h1>Housing Reviews Raffle</h1>
{% endblock %}

{% block content %}
    <form method="get">
        Start date: {{ form.start_date }}<br><br>
        End date: {{ form.end_date }}<br><br>
        Number of winners: {{ form.num_winners }}<br><br>
        <input type="submit" value="Run Raffle"><br><br>
    </form>
    <ul>
        {% for u in winners %}
        <li>{{ u.get_full_name }} (<a href="mailto:{{ u.email }}">{{ u.email }}</a>)</li>
        {% endfor %}
    </ul>
{% endblock content %}