{% load room_tools %}
<table class="results">
	<tr>
		<th>review posted</th>
		<th>room number</th>
		<th>ft<sup>2</sup></th>
		<th>occupancy</th>
		<th>overall rating</th>
	</tr>
	{% for review in results %}
		<tr>
			<td><a href="{% url "housing_browse_room" review.room.floor.building.shortname review.room.floor.number review.room.number %}#review_{{ review.get_timestamp }}">{{ review.create_ts }}</a></td>
			<td>{{ review.room.floor.building.name }} {{ review.room.number }}</td>
			<td>{{ review.room.get_size_display }}</td>
			<td>{{ review.room.get_occupancy_display }}</td>
			<td>{% show_stars review.overall %}</td>
		</tr>
	{% empty %}
		<tr><td colspan="5"><p style="text-align: center;">No reviews here (yet).</p></td></tr>
	{% endfor %}
</table>