{% extends 'housing/base.html' %}
{% block "page_title" %}latest reviews{% endblock "page_title" %}

{% block "outer_content" %}
{% with latest as results %}
	{% include "housing/review_list_fragment.html" %}
{% endwith %}
{% endblock "outer_content" %}

{% block "actions" %}
<ul class="actions">
	<li{% if browse_active %} class="active"{% endif %}><a href="{% url "housing_browse" %}">browse housing</a></li>
	<li{% if search_active %} class="active"{% endif %}><a href="{% url "housing_search" %}">search for rooms</a></li>
	<li{% if review_active %} class="active"{% endif %}><a href="{% url "housing_review" %}">review your room</a></li>
</ul>
{% endblock %}