{% extends 'housing/base.html' %}
{% load room_tools %}

{% block "page_title" %}{{ room.get_name }}{% endblock "page_title" %}

{% block "housing_breadcrumbs" %}
<li>{{ room.floor.building }}</li>
<li>{{ room.floor }}</li>
<li>{{ room }}</li>
{% endblock %}

{% block "outer_content" %}
	{% include "housing/room_info_fragment.html" %}
	<h2>Reviews</h2>
		{% if room.review_set.count %}
	<p class="content info">
	  <a href="">+ add a review for this room</a>
	</p>
	<ol id="reviews" class="content">
	{% for review in room.review_set.all %}
		<li id="review_{{ review.get_timestamp }}">
		  <h3 class="posted">&ldquo;{% show_stars review.overall %}&rdquo;</h3>
		  <h4> posted on {{ review.get_timestamp }}</h4>
			<dl class="ratings">
        <!-- <dt class="overall">overall</dt><dd class="overall">{% show_stars review.overall %}</dd> -->
				<dt>quiet</dt><dd>{% show_stars review.quiet %}</dd>
				<dt>spacious</dt><dd>{% show_stars review.spacious %}</dd>
				<dt>temperate</dt><dd>{% show_stars review.temperate %}</dd>
				<dt>well maintained</dt><dd>{% show_stars review.maintained %}</dd>
				<dt>cell service</dt><dd>{% show_stars review.cellphone %}</dd>
			</dl>
			<div class="comments">
				<h4>best thing about this room</h4>
				{{ review.best|linebreaks }}
				<h4>worst thing about this room</h4>
				{{ review.worst|linebreaks }}
				{% if review.comments %}
				<h4>comments</h4>
				{{ review.comments|linebreaks }}
				{% endif %}
			</div>
		</li>
	{% endfor %}
	</ol>
	{% else %}
	<p class="content info" id="be_first">
	  Do you live here? (Did you live here?)<br> <a href="{% url "housing_review_room" room.floor.building.shortname room.floor.number room.number %}">Be the first to review this room</a></p>
	{% endif %}
{% endblock "outer_content" %}