{% extends 'housing/base.html' %}
{% block "page_title" %}{{ floor.building.name }}{% endblock "page_title" %}

{% block "content" %}
{% if all_floors|length != 1 %}
<ul id="floors">
{% for c_floor in all_floors %}
	<li {% if c_floor == floor %}class="active"{% endif %}><a href="{% url "housing_browse_building_floor" floor.building.shortname c_floor.number %}">{{ c_floor.get_number_display }}</a></li>
{% endfor %}
</ul>
{% endif %}

{% include "housing/room_list_fragment.html" %}
{% endblock "content" %}