{% extends 'housing/base.html' %}

{% load staticfiles %}
{% load room_tools %}

{% block "page_title" %}{{ room.get_name }}{% endblock "page_title" %}

{% block "housing_breadcrumbs" %}
<li><a href="{% url "housing_browse" %}">Residence Halls</a></li>
<li><a href="{% url "housing_browse_building_floor_first" room.floor.building.shortname %}">{{ room.floor.building.name }}</a></li>
<li><a href="{% url "housing_browse_building_floor" room.floor.building.shortname room.floor.number %}">{{ room.floor.get_number_display }}</a></li>
<li>{{ room }}</li>
{% endblock %}

{% block "css" %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/housing/lightbox.css" %}"/>
  <style type="text/css">
  	ul.thumbs {
  		padding: 0;
  	}
  	ul.thumbs li {
  		display: inline-block;
  	}
  </style>
{% endblock %}

{% block "js" %}
	{{ block.super }}
	<script type="text/javascript" src="{% static "js/lib/jquery-1.10.2.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/lib/lightbox-2.6.min.js" %}"></script>
{% endblock %}

{% block "outer_content" %}
	{% include "housing/room_info_fragment.html" %}
	<h2>Reviews</h2>
	{% if user.is_authenticated %}
		{% if room.review_set.count %}
	<p class="content info">
	  <a href="{% url "housing_review_room" room.floor.building.shortname room.floor.number room.number %}">+ add a review for this room</a>
	</p>
	<ol id="reviews" class="content">
	{% for review in room.review_set.all %}
		<li id="review_{{ review.get_timestamp }}">
		  <div class="posted">Posted {% if review.author %}by {{ review.author.get_full_name }} {% endif %}on {{ review.create_ts|date:"N j, Y" }} at {{ review.create_ts|date:"P"}}</div>
			<dl class="ratings">
			  <dt class="overall">overall</dt><dd class="overall">{% show_stars review.overall %}</dd>
				<dt>quiet</dt><dd>{% show_stars review.quiet %}</dd>
				<dt>spacious</dt><dd>{% show_stars review.spacious %}</dd>
				<dt>temperate</dt><dd>{% show_stars review.temperate %}</dd>
				<dt>well maintained</dt><dd>{% show_stars review.maintained %}</dd>
				<dt>cell service</dt><dd>{% show_stars review.cellphone %}</dd>
			</dl>
			<div class="comments">
				<h4>best thing about this room</h4>
				{{ review.best|linebreaks }}
				<h4>worst thing about this room</h4>
				{{ review.worst|linebreaks }}
				{% if review.comments %}
				<h4>comments</h4>
				{{ review.comments|linebreaks }}
				{% endif %}
                {% if review.photo1 or review.photo2 or review.photo3 %}
                <h4>photos</h4>
                <ul class="thumbs">
                {% if review.photo1 %}<li><a href="{{ review.photo1.large.url }}" data-lightbox="photos"><img src = "{{ review.photo1.thumbnail.url }}"></a></li>{% endif %}
                {% if review.photo2 %}<li><a href="{{ review.photo2.large.url }}" data-lightbox="photos"><img src = "{{ review.photo2.thumbnail.url }}"></a></li>{% endif %}
                {% if review.photo3 %}<li><a href="{{ review.photo3.large.url }}" data-lightbox="photos"><img src = "{{ review.photo3.thumbnail.url }}"></a></li>{% endif %}
                </ul>
                {% endif %}
			</div>
		</li>
	{% endfor %}
	</ol>
	{% else %}
	<p class="content info" id="be_first">
	  Do you live here? Did you live here?<br> <a href="{% url "housing_review_room" room.floor.building.shortname room.floor.number room.number %}">Be the first to review this room</a></p>
	{% endif %}
	{% else %}
	<p class="content info">
	  {% if room.review_set.count >= 1 %}
	    {% if room.review_set.count == 1 %}
	      See a review
	    {% else %}
	      See {{ room.review_set.count }} reviews
	    {% endif %}
	    for this room by <a href="{% url "login" %}?next={{ room.get_absolute_url }}">logging in</a>.
	  {% else %}
	    Do you live here? Did you live here? Log in and <a href="{% url "housing_review_room" room.floor.building.shortname room.floor.number room.number %}">write a review</a> for this room
	  {% endif %}
	</p>
	{% endif %}
{% endblock "outer_content" %}