{% load url from future %}
{% load room_tools %}
<table class="results">
	<tr>
		<th>room number</th>
		<th>ft<sup>2</sup></th>
		<th>occupancy</th>
		<th>average rating</th>
	</tr>
	{% for room in rooms %}
		<tr>
			<td class="minimal"><a href="{% url "housing_browse_room" room.floor.building.shortname room.floor.number room.number %}">{{ room.floor.building.name }} {{ room.number }}</a></td>
			<td>{{ room.size|floatformat }}</td>
			<td>{{ room.get_occupancy_display }}</td>
			<td class="minimal">{% if room.average_rating %}{% show_stars room.average_rating %}{% else %}no ratings yet{% endif %}</td>
		</tr>
	{% empty %}
	<tr><td colspan="4" class="empty">No matching rooms.</td></tr>
	{% endfor %}
</table>