{% extends 'housing/base.html' %}
{% load room_tools %}
{% block "head" %}
{{ block.super }}
<script src="http://maps.google.com/maps/api/js?sensor=false&amp;key=ABQIAAAAwQ_qPcZhqTJddZgjpyxJvhQ0p4u4hpSgWDdDIUZlIXFZAEGtLhTwYUTMhfjdSY86TyGx1mlMYfDaow" type="text/javascript"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
	var room_info = {{ room_json }};
    var room_location = new google.maps.LatLng(room_info.latitude, room_info.longitude);
    var imageBounds = new google.maps.LatLngBounds(
    	new google.maps.LatLng(room_info.map.s, room_info.map.w),
    	new google.maps.LatLng(room_info.map.n, room_info.map.e)
    );

    var myOptions = {
        zoom: 20,
        center: room_location,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
		streetViewControl: false,
		mapTypeControl: false,
    }

    Gmap = new google.maps.Map(document.getElementById("map"), myOptions);

    hall_overlay = new google.maps.GroundOverlay(room_info.map.url, imageBounds);
	hall_overlay.setMap(Gmap);
	var pos = new google.maps.LatLng(room_info.latitude, room_info.longitude);
	console.log(pos);
	var icon = new google.maps.MarkerImage(
		"http://fairlyawesome.com/stuff/map_tool/marker.png",
		new google.maps.Size(25, 25), 
		new google.maps.Point(0, 0),
		new google.maps.Point(12, 12));
	var room_marker = new google.maps.Marker({map: Gmap, position: pos, draggable: false, visible: true, icon: icon});
});
</script>
{% endblock %}
{% block "page_title" %}{{ room.get_name }}{% endblock "page_title" %}

{% block "housing_breadcrumbs" %}
<li><a href="{% url "housing_browse" %}">Residence Halls</a></li>
<li><a href="{% url "housing_browse_building_floor_first" room.floor.building.shortname %}">{{ room.floor.building.name }}</a></li>
<li><a href="{% url "housing_browse_building_floor" room.floor.building.shortname room.floor.number %}">{{ room.floor.get_number_display }}</a></li>
<li>{{ room }}</li>
{% endblock %}

{% block "outer_content" %}
	{% include "housing/room_info_fragment.html" %}
	<h2>Reviews</h2>
	{% if user.is_authenticated %}
		{% if room.review_set.count %}
	<p class="content info">
	  <a href="{% url "housing_review_room" room.floor.building.shortname room.floor.number room.number %}">+ add a review for this room</a>
	</p>
	<ol id="reviews" class="content">
	{% for review in room.review_set.all %}
		<li id="review_{{ review.get_timestamp }}">
		  <div class="posted">Posted on {{ review.create_ts|date:"N j, Y" }} at {{ review.create_ts|date:"P"}}</div>
			<dl class="ratings">
			  <dt class="overall">overall</dt><dd class="overall">{% show_stars review.overall %}</dd>
				<dt>quiet</dt><dd>{% show_stars review.quiet %}</dd>
				<dt>spacious</dt><dd>{% show_stars review.spacious %}</dd>
				<dt>temperate</dt><dd>{% show_stars review.temperate %}</dd>
				<dt>well maintained</dt><dd>{% show_stars review.maintained %}</dd>
				<dt>cell service</dt><dd>{% show_stars review.cellphone %}</dd>
			</dl>
			<div class="comments">
				<h4>best thing about this room</h4>
				{{ review.best|linebreaks }}
				<h4>worst thing about this room</h4>
				{{ review.worst|linebreaks }}
				{% if review.comments %}
				<h4>comments</h4>
				{{ review.comments|linebreaks }}
				{% endif %}
			</div>
		</li>
	{% endfor %}
	</ol>
	{% else %}
	<p class="content info" id="be_first">
	  Do you live here? Did you live here?<br> <a href="{% url "housing_review_room" room.floor.building.shortname room.floor.number room.number %}">Be the first to review this room</a></p>
	{% endif %}
	{% else %}
	<p class="content info">
	  {% if room.review_set.count >= 1 %}
	    {% if room.review_set.count == 1 %}
	      See a review
	    {% else %}
	      See {{ room.review_set.count }} reviews
	    {% endif %}
	    for this room by <a href="{% url "login" %}?next={{ room.get_absolute_url }}">logging in</a>.
	  {% else %}
	    Do you live here? Did you live here? Log in and <a href="{% url "housing_review_room" room.floor.building.shortname room.floor.number room.number %}">write a review</a> for this room
	  {% endif %}
	</p>
	{% endif %}
{% endblock "outer_content" %}