{% extends 'housing/base.html' %}
{% load room_tools %}
{% block "head" %}
{{ block.super }}
<script src="http://maps.google.com/maps/api/js?sensor=false&amp;key=ABQIAAAAwQ_qPcZhqTJddZgjpyxJvhQ0p4u4hpSgWDdDIUZlIXFZAEGtLhTwYUTMhfjdSY86TyGx1mlMYfDaow" type="text/javascript"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript">
var results_data = {{ results_data }};
var initial = {{ initial }};
var zoom_level = {{ zoom_level }};

function Floor(data, map) {
	var imageBounds = new google.maps.LatLngBounds(
    	new google.maps.LatLng(data.floor.map.s, data.floor.map.w),
    	new google.maps.LatLng(data.floor.map.n, data.floor.map.e)
    );
	this.number = data.number_display;
	this.hall_overlay = new google.maps.GroundOverlay(data.floor.map.url, imageBounds);
	this.visible = false;
	this.map = map;
	this.room_markers = [];
	
	this.setVisible = function (state) {
		if(state == this.visible) {
			return;
		}
		if(state){
			this.hall_overlay.setMap(this.map);
			for (var i = 0; i < this.room_markers.length; i++) {
				this.room_markers[i].setMap(this.map);
			}
		} else {
			this.hall_overlay.setMap(null);
			for (var i = 0; i < this.room_markers.length; i++) {
				this.room_markers[i].setMap(null);
			}
		}
		this.visible = state;
	}
	for (var i in data.rooms) {
		var pos = new google.maps.LatLng(data.rooms[i].latitude, data.rooms[i].longitude);
		var icon = new google.maps.MarkerImage(
			"{{ STATIC_URL }}images/marker.png",
			new google.maps.Size(25, 25), 
			new google.maps.Point(0, 0),
			new google.maps.Point(12, 12));
		var room_marker = new google.maps.Marker({position: pos, draggable: false, visible: true, icon: icon});
		this.room_markers.push(room_marker);
	}

	
	//hall_overlay.setMap(Gmap);
}

$(document).ready(function () {

    var myOptions = {
        zoom: {{ zoom_level }},
        center: new google.maps.LatLng({{ center_latitude }}, {{ center_longitude }}),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
		streetViewControl: false,
		mapTypeControl: false,
    }
	
	floors = [];

    Gmap = new google.maps.Map(document.getElementById("map"), myOptions);
	for (var i in results_data) {
		var new_floor = new Floor(results_data[i], Gmap);
		if(floors[results_data[i].floor.number_display]) {
			floors[results_data[i].floor.number_display].push(new_floor);
		} else {
			floors[results_data[i].floor.number_display] = [new_floor];
		}
	}
	
	function select_floor(number) {
		for (var i in floors) {
			if (i == number) {
				for (var overlay_id = 0; overlay_id < floors[i].length; overlay_id++) {
					floors[i][overlay_id].setVisible(true);
				}
				floors[i].$control.addClass("active");
			} else {
				for (var overlay_id = 0; overlay_id < floors[i].length; overlay_id++) {
					floors[i][overlay_id].setVisible(false);
				}
				floors[i].$control.removeClass("active");
			}
		}
	}
	
	$('#map_container').prepend('<ul id="controls"></ul>');
	
	var floor_count = 0;
	for (var i in floors) {
		floor_count++;
	}
	
	for (var i in floors) {
		console.log(i);
		$('#controls').append('<li><a data-floor="' + i + '">' + i + '</a></li>');
		$('#controls li a').last().click({"floor": i}, function (evt) {
			select_floor(evt.data.floor);
		});
		floors[i].$control = $('#controls li a').last();
	}
	if (floor_count > 1) {
		for (var i in floors) {
			if (i == "1st floor") {
				select_floor(i);
				break;
			}
		}
	} else {
		for (var i in floors) {
			select_floor(i);
			break; // awkward way to get first...
		}
	}
	console.log(floors);

});
</script>
{% endblock "head" %}
{% block "page_title" %}search{% if result_view %} results{% endif %}{% endblock "page_title" %}

{% block "housing_breadcrumbs" %}
  <li><a href="{% url "housing_search" %}">Search</a></li>
{% endblock %}

{% block "outer_content" %}
<div id="search_wrapper" class="{% if result_view %}result_view{% else %}begin_view{% endif %}">
<div id="search_control" class="content">
  {% if result_view %}<h1>Refine Search</h1>{% endif %}
	<form action="." method="GET">
		{% for field in form %}
			<div class="section"><h3>{{ field.label }}</h3>
				<div class="disclosure">{{ field }} {{ field.help_text }} {{ field.errors }}</div>
			</div>
		{% endfor %}
		<p><input type="submit" value="search"></p>
		
	</form>
</div>

{% if result_view %}
<div id="results">
	<div id="map_container"></div>
	{% include "housing/paginator_fragment.html" %}
	<table class="results">
		<tr>
			<th class="minimal">room number</th>
			<th>floor</th>
			<th>ft<sup>2</sup></th>
			<th>occupancy</th>
			<th class="minimal">average rating</th>
		</tr>
		{% for room in rooms %}
			<tr>
				<td class="minimal"><a href="{% url "housing_browse_room" room.floor.building.shortname room.floor.number room.number %}">{{ room.floor.building.name }} {{ room.number }}</a></td>
				<td>{{ room.floor.get_number_display }}</td>
				<td>{{ room.size|floatformat }}</td>
				<td>{{ room.get_occupancy_display }}</td>
				<td class="minimal">{% if room.average_rating %}{% show_stars room.average_rating %}{% else %}no ratings yet{% endif %}</td>
			</tr>
		{% empty %}
		<tr><td colspan="5" class="empty minimal">No matching rooms.</td></tr>
		{% endfor %}
	</table>
		{% include "housing/paginator_fragment.html" %}
</div>
</div>
{% endif %}
{% endblock "outer_content" %}