{% extends 'housing/base.html' %}
{% load room_tools %}

{% block "page_title" %}search{% if result_view %} results{% endif %}{% endblock "page_title" %}

{% block "housing_breadcrumbs" %}
  <li><a href="{% url "housing_search" %}">Search</a></li>
{% endblock %}

{% block "outer_content" %}
<div id="search_wrapper" class="{% if result_view %}result_view{% else %}begin_view{% endif %}">
<div id="search_control" class="content">
  {% if result_view %}<h1>Refine Search</h1>{% endif %}
	<form action="." method="GET">
		{% for field in form %}
			<div class="section"><h3>{{ field.label }}</h3>
				<div class="disclosure">{{ field }} {{ field.help_text }} {{ field.errors }}</div>
			</div>
		{% endfor %}
		<p><input type="submit" value="search"></p>

	</form>
</div>

{% if result_view %}
<div id="results">
	<div id="map_container"></div>
	{% include "housing/paginator_fragment.html" %}
	<table class="results">
		<tr>
			<th class="minimal">room number</th>
			<th>floor</th>
			<th>ft<sup>2</sup></th>
			<th>occupancy</th>
			<th class="minimal">average rating</th>
		</tr>
		{% for room in rooms %}
			<tr>
				<td class="minimal"><a href="{% url "housing_browse_room" room.floor.building.shortname room.floor.number room.number %}">{{ room.floor.building.name }} {{ room.number }}</a></td>
				<td>{{ room.floor.get_number_display }}</td>
				<td>{{ room.size|floatformat }}</td>
				<td>{{ room.get_occupancy_display }}</td>
				<td class="minimal">{% if room.average_rating %}{% show_stars room.average_rating %}{% else %}no ratings yet{% endif %}</td>
			</tr>
		{% empty %}
		<tr><td colspan="5" class="empty minimal">No matching rooms.</td></tr>
		{% endfor %}
	</table>
		{% include "housing/paginator_fragment.html" %}
</div>
</div>
{% endif %}
{% endblock "outer_content" %}